[2019-10-11 14:56] lisamcmichael commented on #395
Met with @ASprinkle and we're keeping it here for now.

[2019-10-11 15:01] lisamcmichael commented on #563
Design refinements are needed; Amber to refine story as well

[2019-10-11 15:09] lisamcmichael commented on #531
Met w/ Amber: Take a screen of what’s in staging, add comments and set this story to “done”.

[2019-10-11 15:11] ASprinkle commented on #531
The special uses landing page has been updated to meet A/C
![image](https://user-images.githubusercontent.com/33435621/66662838-6af25e00-ebfe-11e9-9a2a-257eca002a0a.png)

[2019-10-11 15:24] lisamcmichael commented on #530
Met w/ Amber: Learn More page needs to be updated with the PO approved information; see June 26 entry

[2019-10-11 15:37] ASprinkle commented on #950
![image](https://user-images.githubusercontent.com/33435621/66664946-616af500-ec02-11e9-8bee-e1b067584d61.png)
Looks Great!

[2019-10-11 15:48] lisamcmichael commented on #670
Met with @ASprinkle and compiled these next steps. Amber, take a look at the updates to tasks above, and make sure it looks good. Thx.

_Update Footer:_
Change to: ”For help or technical questions:” (see Christmas Tree footer for guidance, and note this is separate from the Feedback Stories 776, 676)

Don’t want to mix in general feedback so,
remove GSA mailbox, and change to Shared mailbox

SM.FS

[2019-10-11 16:30] ASprinkle commented on #950
@aaronburk Rogue River-Siskiyou (RRS) National Forest.

[2019-10-11 20:36] ASprinkle commented on #937
All Org Codes for all Forests in the FS are housed in this spreadsheet. They are set up by Region/Forest/District.  For Open Forest, we are more interested in the Region/Forest breakdown.   I have the spreadsheet saved with the Filter set for our Open Forest pilot forests.
https://usfs.box.com/s/clo3lael67ntg6fs8svk7drf90gdw4ng
- Flathead: 0110
- Shoshone: 0214
- Arapaho Roosevelt: 0210
- Deschute

[2019-10-11 20:37] ASprinkle commented on #937
@mtlaney ^ org codes!

[2019-10-11 20:39] mtlaney commented on #937
I'll check them out!

[2019-10-11 20:42] mtlaney commented on #937
@ASprinkle currently they are set like this in open forest, including our pilot forests from last year. Let me know if this format looks correct:

Arapaho Roosevelt: 11-02-10 as opposed to 0210

[2019-10-11 20:47] ASprinkle commented on #937
@mtlaney I believe they should all start with "11" correct?

[2019-10-11 20:52] ASprinkle commented on #941
@mtlaney It looks like this is in Awaiting acceptance, but when I go in to review the updates on Staging, It doesn't look like anything has changed yet. All I see are the same 3 maps. Do you see anything different on staging?
![image](https://user-images.githubusercontent.com/33435621/66684219-65ad0780-ec2e-11e9-85bd-fa6fc072d88c.png)

[2019-10-11 20:53] ASprinkle commented on #928
looks great!

[2019-10-11 20:55] ASprinkle commented on #893
Moving to Blocked pending hearing back from Jaimin as noted in this email below

Sent: Thursday, October 10, 2019 3:09 PM
To: Carlson, Eric - FS <eric.carlson@usda.gov>
Cc: Brown, Dena-Kay - FS <dena-kay.brown@usda.gov>; Cha, Daniel S -FS <daniel.cha@usda.gov>; Key, Robin Y -FS <robin.key@usda.gov>; Burk, Aaron E -FS <aaron.burk@usda.gov>; Sprinkle, Amber D -FS <amber.sprinkle@usda.gov>
Subject: R

[2019-10-11 21:45] ASprinkle opened #953 "As a DES Admin I want to see the following content updates to different areas of the site so that we're ready for the season."
## Notes
* What are things we should consider when making this story *

A final review resulted in the need to make updated. The POC provided some PDFs with notes on them that can be referred to for context. Not all highlighted items are being addressed for MVP.
[https://app.zenhub.com/files/88538878/6988dd37-dbc4-4872-8a4f-d275c45d2829/download](https://app.zenhub.com/files/88538878/6988dd37-dbc4

[2019-10-11 22:14] ASprinkle commented on #903
@mtlaney @briandavidson ^^ the changes for the Fre-Win are no longer showing on staging or prod. their POC informed me that the updates are not showing.
Here are screen shots showing what's up on Staging and Prod:
![image](https://user-images.githubusercontent.com/33435621/66688028-b83ff100-ec39-11e9-9468-311a70916ba9.png)
![image](https://user-images.githubusercontent.com/33435621/66688047-c8f067

[2019-10-11 23:07] ASprinkle opened #954 "As an Admin for the ARP I would like to see some final changes so that the site is updated for this season."
## Notes
* What are things we should consider when making this story *
Final POC reviews resulted in the following needs for change:

The POC also requested to remove the "When to cut your tree" title above the Season Dates green box.
I do not know if we can do this.
I shared with the POC that "For awareness and transparency, this may seem like a simple ask, however we may not be able to remove th

[2019-10-11 23:26] ASprinkle commented on #467
Update 10/11/2019. A small change to the text in the design will be needed before it is ready for Dev.

[2019-10-11 23:34] ASprinkle commented on #563
@lisamcmichael I updated the A/C and Tasks (minimally)

[2019-10-11 23:52] mtlaney commented on #941
hmmm, that's wierd I'm seeing the same thing. I'm going to try to re-run the deployment

[2019-10-11 23:53] mtlaney commented on #937
@ASprinkle perfect. Any luck finding MBS, or am I totally missing it somehow?

[2019-10-12 00:14] ASprinkle commented on #953
@mtlaney @briandavidson I started this but was unable to finish. I checked all tasks above that I created pull requests for. The DES contact us and ID Tree species sections still need to be updated. I will not be getting to those anytime soon, so I removed my name from assignee.

[2019-10-12 00:16] ASprinkle commented on #937
AH!! MBS is 0605.

[2019-10-15 13:44] mtlaney commented on #941
@ASprinkle Should be correctly displaying the maps now

[2019-10-15 15:35] ASprinkle commented on #941
![image](https://user-images.githubusercontent.com/33435621/66846473-bd958800-ef26-11e9-9294-d6219348251c.png)
![image](https://user-images.githubusercontent.com/33435621/66846483-c0907880-ef26-11e9-8305-e1cf81475af2.png)
![image](https://user-images.githubusercontent.com/33435621/66846511-c8501d00-ef26-11e9-885d-94a68301ef1a.png)

![image](https://user-images.githubusercontent.com/33435621/668465

[2019-10-15 15:43] ASprinkle commented on #893
Email from Jaimin 10/15: "Hi Aaron & Eric,

The items are now setup in PROD. Please go ahead with your “live” test transactions and provide us the transaction details so we can look for it at settlement."

[2019-10-15 16:22] ASprinkle commented on #903
@mtlaney Looks good!

[2019-10-15 16:42] lisamcmichael opened #965 "As a researcher, I need to discuss special permit usability test findings with Lisa S., so that we can identify new design opportunities."
## Notes
Two usability studies were conducted in June 2019 to evaluate content flow strategies and designs. It's not clear if all of the refinements/recommendations have been included in the MBS Special Permits site.

## Acceptance Criteria
- [x] Lisa S. reviewed research with Lisa M.

## Tasks
- [x] Review 2 "content flow strategy studies" June 2019
- [x] Create list of design opportunities
- [x]

[2019-10-15 16:52] lisamcmichael commented on #965
I found a series of **prototype user stories** on Pinyon (June 2019). Some of those stories have been implemented in the Special Permit MBS pilot, but some have not:
https://usfs.app.box.com/file/480467318419

[2019-10-15 17:03] #872 closed

[2019-10-15 17:05] #874 closed

[2019-10-15 17:05] #852 closed

[2019-10-15 17:05] #891 closed

[2019-10-15 17:06] #921 closed

[2019-10-15 17:06] #922 closed

[2019-10-15 17:06] #890 closed

[2019-10-15 17:07] #871 closed

[2019-10-15 17:11] lisamcmichael commented on #948
@carlsonem I've been reviewing previous research and discovery on special permits on Pinyon. You mentioned specific user stories to me, what are those? Thx!

[2019-10-15 17:16] #802 closed

[2019-10-15 17:16] #800 closed

[2019-10-15 17:16] #864 closed

[2019-10-15 17:17] #808 closed

[2019-10-15 17:17] #870 closed

[2019-10-15 17:17] #804 closed

[2019-10-15 17:17] #803 closed

[2019-10-15 17:18] #531 closed

[2019-10-15 17:18] #686 closed

[2019-10-15 17:18] #778 closed

[2019-10-15 17:19] #873 closed

[2019-10-15 17:19] #805 closed

[2019-10-15 17:19] #842 closed

[2019-10-15 17:19] #866 closed

[2019-10-15 20:22] lisamcmichael commented on #566
See the notes/design on April 17 (design should “anchor” the NOTE: All fields required unless noted otherwise”

[2019-10-15 20:28] lisamcmichael commented on #534
@ASprinkle Need more time to review

[2019-10-15 20:32] lisamcmichael commented on #532
For 532 – not MVP; need to look into storing PII. @ASprinkle to check with Aaron.
-	Can we store info?
-	Possible workflow implications?

[2019-10-15 20:46] lisamcmichael commented on #400
Amber will go into the temp outfitter process to understand the point of confusion.

[2019-10-15 20:50] aaronburk commented on #532
I recall this question.  My understanding is the current design does not allow the user to save the session part way through. I am also recalling the most of the information gets send to the system of record which is SUDS and Open FOrest is not meant to store much of the information.  Thus as mentioned above there will be need discussion related to what it would take to build in such functionality

[2019-10-15 20:53] aaronburk commented on #400
i believe this story was related to the issue of this being a corporate permit process (say multiple employees at company working on it) is it limited to just one person (the person who logged in initially) or can multiple people access the same "account" so to speak.

[2019-10-15 20:54] lisamcmichael commented on #348
There is information in the Learn More page. However, seems like there should be a calculator/estimator. But for MVP, we'll use what we have.

Maybe add a learn more link to see what are the flat fees?!

[2019-10-15 22:43] JonathanLerner54 commented on #532
Do we have a data dictionary established for this?  For ePermits we avoided the PII by pushing the Credit Card information off on the pay.gov.  So let's start with the data elements and figure out where it will be held while processing and at rest and go from there.  If someone can point me to any documentation we have on this, I can get started with initial review.   THANKS!

[2019-10-16 11:12] aaronburk commented on #532
I am not sure if we have a data dictionary per se ( the developers may know) one could easily be created i suspect.  THe current system for MBS was reviewed closely and all types of info being collected were approved in the ATO package which included PII, SIA etc.  The main difference is it appears the user story would create a "holding area" of sorts or a profile for a user that stores their info

[2019-10-16 14:34] lisamcmichael opened #966 "As a Special Permit applicant, I want to return to the MBS homepage, so that I do not have to use the browser back button."
## Notes

If an applicant “abandons” the application process, or if they have finished checking the status of the application, they cannot return to the MBS homepage without using the browser back button.

## Acceptance Criteria
- [ ] Users are able to access previous pages from their current page anywhere in the SU application process without having to use their browser back button.

## Tasks
- [

[2019-10-16 14:37] lisamcmichael commented on #966
@ASprinkle >  **New story created**

[2019-10-16 14:41] lisamcmichael opened #967 "As a Special Permit applicant viewing the status of my pending permit, I want to return to the MBS homepage without using the browser back button, so that my experience is efficient."
## Notes
* If an applicant has viewed her Application Status (on that page), there isn’t an efficient way to return to the MBS homepage, only the browser back button is available.*

## Acceptance Criteria
- [ ] Design updates are completed.
- [ ] Link to homepage works (tested)

## Tasks
- [ ] Mock-up: Add a return link to MBS special permits homepage
- [ ] Mock-up: Revise link language to:  Visit

[2019-10-16 14:43] lisamcmichael commented on #967
@ASprinkle Added new story.

[2019-10-16 15:06] lisamcmichael commented on #945
@ASprinkle  and @lisaredux  The updated Icebox story statuses are now on Box. Amber, we have one more meeting to review the remaining stories and add actions/decisions. I am free most of today and tomorrow.

The list of stories is on Pinyon: https://usfs.box.com/s/pyvoabpw06lc3b39vj2g391mc8rsvukb

[2019-10-16 15:15] ASprinkle commented on #893
Update: Deschutes and Okanogan were tested with real money 10/16.

Within Open Forest PROD Admin, reports generated feature is working great!
![image](https://user-images.githubusercontent.com/33435621/66932848-17608580-efed-11e9-8ad5-a10318839458.png)
![image](https://user-images.githubusercontent.com/33435621/66932858-1a5b7600-efed-11e9-845c-f23c5b99a9ee.png)

[2019-10-16 15:40] briandavidson commented on #776
@lisaredux i noticed that the only real difference between the form that a public user uses and the one an FS admin uses in order to submit feedback is that the one for admins also has a field for specifying forests.

I just want to make sure that is what we want. And if it is, what do want to put in the table of feedback entries for the forest cell when the entry is submitted by a public user?

[2019-10-16 15:48] mtlaney commented on #954
@ASprinkle with the following example, where do they want me to add 'the last car will be allowed in at 2:00 PM"?

<img width="692" alt="Screen Shot 2019-10-16 at 11 47 31 AM" src="https://user-images.githubusercontent.com/18233188/66935883-ca8ba780-f00a-11e9-9748-d7664e70ff1b.png">

Elk Creek special cutting area Cutting Dates: "Dec 1, 2019 – Dec 8, 2019 from 9:00 AM – 4:00 PM. The last car will

[2019-10-16 16:19] mtlaney commented on #954
@ASprinkle

I think I have this done correctly. I've updated the cutting area dates, and changed the text in cutting area rules and the contact us section.

The first request I did not complete since it's part of the core template of the forest pages, the removing 'When to cut your tree'. It 'can' be done, but the level of effort is higher than the reward possibly. Let me know if you'd like me to

[2019-10-16 16:58] ASprinkle commented on #954
@mtlaney Thank you for working on those updates for cutting areas.  At this time please do not work on editing the "When to cut your tree' title. I think we'll have to address this after this pilot is over. Thanks for the background/info on this.

[2019-10-16 17:37] ASprinkle commented on #776
@briandavidson @lisaredux Hi Brian, Lisa is OOO this week.  You're correct: the FS admin function offers the option (not required) to specify which forest they are referring to if applicable. So yes, there should be a forest cell available for the review of entries, or we would need to somehow capture that data.  That is shown in the workflow that Lisa S provided above.. here's a screen shot
![ima

[2019-10-16 17:39] briandavidson commented on #776
@ASprinkle okay that makes sense, thanks Amber!

[2019-10-16 17:41] lisamcmichael commented on #945
@carlsonem,  I met with Amber, and we need one more meeting to finish reviewing all Icebox stories. Also, we identified 2 new stories, put in the icebox for now.

[2019-10-16 18:01] mtlaney commented on #954
@ASprinkle
<img width="919" alt="Screen Shot 2019-10-16 at 2 01 26 PM" src="https://user-images.githubusercontent.com/18233188/66945710-8229b500-f01d-11e9-8a4a-e070ff239093.png">

[2019-10-16 18:03] ASprinkle commented on #954
Let's go with it!  For the empty cell - maybe we should add "no notes" or something so people know they aren't missing something

[2019-10-16 19:45] lisamcmichael commented on #564
@lisaredux when we are both back in the office next week (10/23), let's find some time (no rush) to review this. It's low priority and not MVP, so when we can fit it in.

[2019-10-16 21:27] ASprinkle commented on #954
This looks really great, thank you for your work on this @mtlaney!
![image](https://user-images.githubusercontent.com/33435621/66960329-1a756900-f021-11e9-8b44-a6659c324d6c.png)
![image](https://user-images.githubusercontent.com/33435621/66960336-1d705980-f021-11e9-80ff-a4297acc1a30.png)

[2019-10-16 21:28] ASprinkle commented on #937
@mtlaney All the org codes have an "11" preceding them in your files, correct?

[2019-10-16 21:32] ASprinkle commented on #910
Looks great! thank you for being able to get those maps up as PDFs. ![image](https://user-images.githubusercontent.com/33435621/66960635-b901ca00-f021-11e9-8d40-809e4e1366b9.png)
![image](https://user-images.githubusercontent.com/33435621/66960636-bbfcba80-f021-11e9-9ecc-a859b0f44276.png)

[2019-10-16 21:37] ASprinkle commented on #953
Excellent! for the DES and OCH
![image](https://user-images.githubusercontent.com/33435621/66960930-696fce00-f022-11e9-98b0-cebd711d1f89.png)
![image](https://user-images.githubusercontent.com/33435621/66960946-6ecd1880-f022-11e9-9cb6-7ee9b0cd1a52.png)
![image](https://user-images.githubusercontent.com/33435621/66960958-7391cc80-f022-11e9-8aad-5d1a87aefdee.png)
![image](https://user-images.githubu

[2019-10-16 21:38] ASprinkle commented on #927
Thank you for taking those screen shots @briandavidson - this looks great!
![image](https://user-images.githubusercontent.com/33435621/66961047-a5a32e80-f022-11e9-946b-13fe4f597e40.png)

[2019-10-16 21:47] ASprinkle opened #971 "DES/OCH tree species update"
## Notes
* What are things we should consider when making this story *
1.	Please remove “Incense Cedar” from the “Identifying tree species” section.  The Ochoco NF only has a small, disjunct population of incense cedar, and for that reason, we don’t want to highlight or encourage folks to cut that species for Christmas trees on the Ochoco NF.
2.	Also, please remove “White Fir” from the “Identifyin

[2019-10-16 22:35] ASprinkle commented on #676
Hi @briandavidson for this story and the FS admin one... is the "Give Feedback" link being developed so that it is only available on the landing page? or will it be available in the upper right corner of very page throughout the process? Preference would be every page, unless that is too big to bite off at this time, in prep for Nov. 1 MVP.

[2019-10-16 22:43] ASprinkle commented on #953
@mtlaney I missed something on this story - it looks like we've still got some work related to Tree species..

[2019-10-16 22:46] ASprinkle commented on #953
@mtlaney it looks like the changes for ID tree species were done to the Deschutes site instead of the Ochoco site.   Unfortunately, we'll need to add incense cedar and white fir back to the Deschutes site and delete incense cedar from the Ochoco site and switch grand fir for white fir on the Ochoco site....  :/

[2019-10-17 03:13] mtlaney commented on #953
@ASprinkle no worries, I'll get it in the morning!

[2019-10-17 15:26] lisamcmichael commented on #945
@carlsonem  Amber is out today, so we cannot have the final meeting to close this story. I'm moving it to blocked until next Thursday when we are meeting.

[2019-10-17 19:40] ASprinkle commented on #953
Deschutes shows Douglas-fir, Incense Cedar, White fir, Lodgepole Pine, Ponderosa Pine
Ochoco shows Douglas-fir, Grand fir, Lodgepole Pine, Ponderosa Pine

Looks great!!

[2019-10-17 20:52] mtlaney commented on #937
@ASprinkle all org codes have an 11 now

[2019-10-18 15:39] #971 closed

[2019-10-18 15:46] ASprinkle commented on #862
What is "SMTP"? ^

[2019-10-18 15:47] ASprinkle commented on #630
This is redundant with #899 so I am closing this story.

[2019-10-18 15:47] #630 closed

[2019-10-18 15:48] ASprinkle commented on #899
More background is available under closed story #630 (closed due to redundancy)

[2019-10-18 17:45] ASprinkle commented on #872
The Season Dates Word Doc Pinyon file has been updated to an Excel file, and is available in the same Product Owner folder, here's the link to All Forest Season Dates: https://usfs.box.com/s/6n8130crzvivssgrqt4jpn569vwam0mu

[2019-10-18 18:56] ASprinkle commented on #893
All Forests tested
![image](https://user-images.githubusercontent.com/33435621/67120460-32bec280-f19e-11e9-8a56-5ab0d055427e.png)

[2019-10-18 20:15] ASprinkle opened #978 "As an Open Forest admin, I don't want to be confused by a google form when trying to contact the OF team so that I know I am in the right place."
## Notes
* What are things we should consider when making this story *

We removed the "Request a Content Change Tab" in story #927 but we still have some "request access" links on the admin-only pages that take the user to the google form.

We need to replace the request access link, with the shared customer support email address.

## Acceptance Criteria
- [x] The google form is no longer accessi

[2019-10-21 15:04] ASprinkle opened #979 "As an ARP administrator, I would like to see the Cutting Area Times accurately reflected in PROD before Nov. 1"
## Notes
* What are things we should consider when making this story *

The ARP Cutting Area Times are not correctly shown. they appear to be 2 hours off, showing:
Elk Creek 6:00 AM - 1:00 PM
Red Feather 5:30 AM - 11:30 AM

One of the ARP Admins went in and used the Admin Change Cutting Area Dates feature to manually update the times.  The Admin did this on Friday, and today, Monday, the times hav

[2019-10-21 15:06] ASprinkle commented on #979
@mtlaney @briandavidson Perhaps this was a bug in the recent push to Prod. The ARP opens on Nov. 1. Can we get this issue fixed and pushed to prod right away?

[2019-10-21 15:25] ASprinkle commented on #551
Unable to replicate. Closing

[2019-10-21 15:25] #551 closed

[2019-10-21 15:41] ASprinkle commented on #954
@mtlaney I created story #979  it looks like the cutting area times are off by 2 hours in the system in PROD.

[2019-10-21 16:00] mwreiss commented on #762
@carlsonem  eAuth doesn't enforce a timeout on the app, we need to put some of that logic on the OF app side to redirect back to the eAuth login page after 15min or the default standard.

[2019-10-21 16:15] mwreiss commented on #829
@JonathanLerner54  @smahmudFS This issue could be closed now.  We are well organized in the prod SIA release process, if you agree?

[2019-10-21 16:54] JonathanLerner54 commented on #829
Yes I recommend closure of this item as well.

[2019-10-21 17:48] briandavidson commented on #979
@ASprinkle I'll make sure this gets fixed by immediately and coordinate with @mtlaney to see it gets through to prod.

[2019-10-21 18:24] Rebekah-Hernandez opened #980 "As an OF Admin, I would like to see season dates consistently displayed in the Change Season Dates section so that I am not confused."
## Notes
Inside of the staging platform, when changing the season dates, the end date will automatically add an extra day to whatever the input is. For example, if the input end date is 12/31/2019, upon saving and refreshing, the date will now show as being 01/01/2020. As exhibited in screenshots of Arapaho-Roosevelt:

![Arapaho_Roosevelt_before.PNG](https://images.zenhubusercontent.com/5d93a772c8

[2019-10-21 18:27] carlsonem commented on #348
@lisamcmichael @lisaredux Please update the LOE if you feel that is off after taking a look at this issue

[2019-10-21 18:32] ASprinkle opened #981 "SPIKE Research 508 compliant capability for Calendar Pop-up MBS Special Uses"
## Notes
**See Story #563 and #508**

## Acceptance Criteria
- [x] Determine if there is an existing 508 compliant calendar that the Open Forest Team can utilize

## Tasks
- [x] Research 508 calendars (Lisa M)
      - [ ] Create short-list of 2 options to start with for Brian/Mike to consider
      - [ ] Meet with Developers to decide next steps: more research to find one, use one that Lisa provid

[2019-10-21 18:40] ASprinkle commented on #893
First two tested forests had hit POSS correctly. Waiting to hear from Jamin RE 95/5% split confirmation in FMMI

[2019-10-21 23:28] ASprinkle commented on #776
@briandavidson I see this story in Awaiting Acceptance, but I when I check staging, I do not see anything. I will check again tomorrow morning. Thanks!

[2019-10-21 23:28] ASprinkle commented on #676
@briandavidson I see this story in Awaiting Acceptance, but I when I check staging, I do not see anything. I will check again tomorrow morning. Thanks

[2019-10-21 23:29] ASprinkle commented on #840
@briandavidson I see this story in Awaiting Acceptance, but I when I check staging, I do not see anything. I will check again tomorrow morning. Thanks

[2019-10-22 15:57] lisaredux commented on #978
@ASprinkle The update is implemented into the design for your approval to move forward:

On the Generate Reports page —

<img width="504" alt="Screenshot 2019-10-22 11 30 34" src="https://user-images.githubusercontent.com/26801590/67304957-9dd00800-f4c2-11e9-8c02-7fdc83883de0.png">

On the Change Season Dates page —

<img width="564" alt="Screenshot 2019-10-22 11 36 41" src="https://user-images.gi

[2019-10-22 16:17] ASprinkle commented on #978
Thank you @lisaredux .  that looks good!

[2019-10-22 17:31] mtlaney commented on #979
@ASprinkle this one is now complete. After we push to prod I will have to change the season dates there as well. I have turned off the seeder to prevent reverting dates now that we have all dates complete.

[2019-10-22 18:00] ASprinkle commented on #979
@mtlaney it looks like Red Feather is still updating on staging?
![image](https://user-images.githubusercontent.com/33435621/67315329-35315d00-f4bb-11e9-8ae0-27ee4cf681ea.png)

[2019-10-22 18:05] mtlaney commented on #979
@ASprinkle here's what I'm showing on staging
@briandavidson can you check your staging site?

<img width="1104" alt="Screen Shot 2019-10-22 at 2 04 11 PM" src="https://user-images.githubusercontent.com/18233188/67315641-fad4b980-f4d4-11e9-8b08-a18c5cfcf2b6.png">

[2019-10-22 18:21] briandavidson commented on #979
![image](https://user-images.githubusercontent.com/5187168/67316859-340e2900-f4d7-11e9-96ac-334699691ed8.png)

[2019-10-22 18:26] ASprinkle commented on #979
Wow, this is odd. I am still seeing the 5:30-11:30 time frame for Red Feather....

[2019-10-22 21:24] lisaredux commented on #467
@ASprinkle here is the proposed update for Temporary outfitters and Non-commercial special use forms PII content and placement.... please confirm:

<img width="844" alt="Screenshot 2019-10-22 17 16 18" src="https://user-images.githubusercontent.com/26801590/67334224-ce7a6680-f4ef-11e9-9e0a-043f2e015743.png">

<img width="686" alt="Screenshot 2019-10-22 17 23 20" src="https://user-images.githubuser

[2019-10-22 22:12] ASprinkle commented on #467
@lisaredux can you include the action mock up for not checking the box? There is a red text requirement offered in the Christmas tree PII if the box is not checked before moving on.

[2019-10-23 16:45] ASprinkle opened #984 "As a user I would like to understand more about how my Feedback is applied so that I can feel good about providing feedback."
## Notes
* What are things we should consider when making this story *

We have heard from a few people that when someone submits "feedback" they may expect a response from the team.  We will need to add some informational text to the feedback page so that people know that submitting feedback does not result in a response, and that if they have a question, they should contact customer support.

##

[2019-10-23 17:06] ASprinkle commented on #400
Conversation with SU on the Mt. Hood:
Applicant Name: Legal signatory: the person who can legally make business decisions.  Applicant information should ask for applicant name, and company name separately. It is important that the person who would sign the permit, should be legally able to sign and the signatory is also the permit holder (for example: if the permit is issued to "REI" then the insu

[2019-10-23 18:04] carlsonem commented on #893
@carlsonem Ping Jaimin

[2019-10-23 18:36] mtlaney commented on #676
@briandavidson
- [ ] Public user should only see share your feedback, no need for forest selection
- [ ] Change text to read 'We'd like to know how we can improve this permit experience for you'
- [ ] Add Return Home button
- [ ] Thank you for sharing your feedback on success
- [ ] Add max char limit
- [ ] Look into adding line break on admin view feedback.

[2019-10-23 18:44] ASprinkle commented on #676
Text changes, return home button, thank you banner apply to both public and admin workflows.

[2019-10-23 19:07] briandavidson commented on #676
Thanks @ASprinkle and @mtlaney, I'll get to work on this right away - apologies for missing the meeting regarding these changes earlier, I was feeling 🤢

@ericsorenson - I concur with your estimate from earlier. Mike and I will be able to have these changes fixed by EOW.

[2019-10-23 19:12] ASprinkle commented on #676
@carlsonem ^^

[2019-10-23 21:11] ASprinkle commented on #532
For MVP launch 2019/early 2020, we can mock a design to implement informing the applicant early on, that their application cannot be saved to complete later and to ensure they have all documents necessary to complete the application etc... @lisamcmichael @lisaredux  Looks like we've got some research to do in the meantime around what it would look like to accomplish the "save and return later" fea

[2019-10-23 22:18] JonathanLerner54 commented on #532
Two approaches:

1. holding area would store only non-PII data and any PII field can be prompted to re-enter.  The system can use a dialog box stating this prior saving, so the user is reminded that their PII will not be saved as part of this process
2.  Data will be encrypted using FIPS compliant modules to protect the PII in transit and at rest(storage).  This will mean that we will need a key s

[2019-10-23 22:43] lisaredux commented on #467
@ASprinkle here it is with the error message.
![Screenshot 2019-10-23 18 41 35](https://user-images.githubusercontent.com/26801590/67439643-cd673900-f5c4-11e9-8692-f7b9b710e8ec.png)

To note: I wasn't sure if the checkbox was supposed to have a red border because I couldn't recreate it with CSS classes.

Moving this to ready for DEV to pick up @briandavidson @mtlaney — let me know if you have any

[2019-10-23 23:15] ASprinkle commented on #467
Hi @lisaredux I don't think I know what CSS clases are. As long as we have that red reminder text that pops up if they try to submit their application w/o checking the box, I think we are good to go! Thank you.

[2019-10-23 23:50] davemcorwin commented on #532
If the user is logged in at the time you may be able to leverage a solution that involves encrypting the PII with the user's password and keeping it in the session so it's possible for them to "save and continue later" with certain constraints. If you're interested in learning more about this approach, I believe Login.gov does something similar during the Identify Proofing process and I can connec

[2019-10-24 12:59] lisamcmichael commented on #532
@ASprinkle and @lisaredux  a meeting with this group, and Jonathan, would help us better define any MVP option and/or option for later release. Thoughts?

[2019-10-24 16:38] lisamcmichael commented on #348
New paragraph verbiage: Please provide description of  client charges and fees.

Learn more page: Remove forest service handbook info"(See FSH 2709.11, sec. 37.21c)"

[2019-10-24 16:50] lisamcmichael commented on #354
Under "Evaluation Process" add helpful content, something like "If you plan to secure a facility permit, that is a separate permit process from Special Use permitting."  This needs refining!

[2019-10-24 17:01] lisamcmichael commented on #371
Expectation that if a person clicks Apply button, then enters User Name and Password, that person **would be directed to the Application** (not the Info page).

[2019-10-24 17:47] lisaredux opened #986 "As a non-commercial applicant, I want to see a left-side menu on the online application form like I see it on the temporary outfitters application so that I can see my progress"
## Notes

Add left menu navigation to the NCGU Application Page with the following actionable menu items: "Application Process", "Applicant Information", "Event Details", and "Signature".
Make sure the menu functions with validation and errors

Currently there is no menu and the page looks like this:
![image](https://user-images.githubusercontent.com/33435621/69367803-d0019080-0c4d-11ea-9750-a9771

[2019-10-24 18:19] ASprinkle commented on #893
[Test RealMoney Transactions Confirmation 20191024.xlsx](https://github.com/USDAForestService/fs-open-forest-platform/files/3768882/Test.RealMoney.Transactions.Confirmation.20191024.xlsx)

Not all FMMI document numbers are populated. Jamin will send an updated spreadsheet with the remaining FMMI numbers.  The spreadhseet clearly shows the 95/5 split/allocation to forest and region.  Based on this

[2019-10-24 18:24] lisamcmichael commented on #986
Thx Lisa!

[2019-10-24 19:25] ASprinkle opened #987 "Prep for Nov 1. As an Oka-Wen admin, I would like to updated to Id Tree Species so that the public isn't confused."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [x] The tree species section is updated so that people can be informed that some species are at higher elevations.

## Tasks
- [x]  Add a line of text to the introduction to this section that says “Noble Fir, Sub Alpine Fir and Pacific Silver Fir trees are found at higher elevations. Higher elevations

[2019-10-24 19:28] ASprinkle commented on #987
@mtlaney @briandavidson this just in.. do you think we can get this one in before Nov. 1 as well?  I was going to go in and make some of the text changes but I did not see the ID tree species section in the front end content option for the oka-wen...

[2019-10-24 19:28] lisaredux commented on #371
Ideal state flow chart, updated to demonstrate changes already made in summer of 2019: https://docs.google.com/presentation/d/1MzvE8QKD6JxStiYmFm8gCA1--8zR_vtuO5XrbF0fLRg/edit#slide=id.g50bf42e953_0_197

[2019-10-24 19:42] lisamcmichael commented on #371
Hey Lisa - thx for putting these flows together. I understand flows 1 and 4, but I'll need your help with 2 and 3. If it's not too much trouble, add notations? Thx again!

[2019-10-24 22:38] mtlaney commented on #987
@ASprinkle will do

[2019-10-25 15:11] lisamcmichael commented on #566
Here's what I took down yesterday: @lisaredux will create an updated mock-up.

[2019-10-25 15:14] lisamcmichael commented on #530
@lisaredux adding text to both Learn More pages to indicate placement on the page.

[2019-10-25 15:19] lisamcmichael commented on #532
Based on the 10/24 "icebox" meeting, we'll wait until Amber is ready to schedule our team's meeting to go over the ideas Joe and Dave have for this story.

[2019-10-25 15:32] lisamcmichael commented on #393
The meeting on 10/24 with @ASprinkle and @lisaredux:

- although this story is about XMAS permitting, what we design for that platform could also work for Special Uses.

[2019-10-25 15:43] lisamcmichael commented on #965
@lisaredux I'll find some time on our calendars for early next week to chat about this.

[2019-10-25 15:46] lisamcmichael commented on #945
I've updated a 'master list' of Icebox Stories with actions and next steps, @ASprinkle and @lisaredux.
https://usfs.app.box.com/file/537998513989

[2019-10-25 16:27] lisaredux commented on #371
@lisamcmichael Not a problem. I realized that slides 2 and 3 were outdated, so slide 4 is the only one that we need to reference currently as to the future state: https://docs.google.com/presentation/d/1MzvE8QKD6JxStiYmFm8gCA1--8zR_vtuO5XrbF0fLRg/edit#slide=id.g50bf42e953_0_197

@ASprinkle + @briandavidson @mtlaney -  here is the video of how special use currently functions with login.gov:
[OpenFo

[2019-10-25 16:53] lisamcmichael commented on #261
File size validation is occurring. There maybe some back-end server validation that needs to occur.

[2019-10-25 17:01] lisamcmichael commented on #399
@ASprinkle will add notes on this story and then close it.

[2019-10-25 17:05] #620 closed

[2019-10-25 17:10] ASprinkle commented on #399
Approval of the application from SUDS is still a human process. The applicant receives automatic notification when their application is "accepted to SUDS", "rejected" or "on hold" through Open Forest. Based on this, closing this story.

[2019-10-25 17:10] #399 closed

[2019-10-25 17:16] ASprinkle commented on #618
Closing based on ICAM research and expectations to integrate with the existing user management system #922 and #926

[2019-10-25 17:17] #618 closed

[2019-10-25 17:19] #659 closed

[2019-10-25 17:22] #678 closed

[2019-10-25 17:22] lisamcmichael commented on #678
#922

[2019-10-25 17:25] lisamcmichael commented on #748
XMAS story, leave in Icebox for now. Amber wants to check in w/ the Pilot Forests to see if Reporting is working for them, and are there other features or updates needed.

[2019-10-25 17:33] lisamcmichael commented on #835
Amber will monitor the inclusion of this info on those forests were it is a Rule, to see how it worked. It might need to be called out a bit more with a Logo if forests have issues w/ compliance.

[2019-10-25 17:54] ASprinkle commented on #945
Hey @lisamcmichael I am going to move this to Done... so that I can capture it as an item in my summary next week

[2019-10-25 18:26] lisamcmichael commented on #371
Hey @lisaredux, as I'm cleaning up stories we discussed today, I went ahead and put your name on this one, given your work on it.

[2019-10-25 18:37] #967 closed

[2019-10-26 15:12] ASprinkle commented on #761
Yes!  :)
![image](https://user-images.githubusercontent.com/33435621/67621826-61edb900-f7c8-11e9-9389-722090fc32fa.png)

[2019-10-26 15:14] ASprinkle commented on #987
Looks good!
![image](https://user-images.githubusercontent.com/33435621/67621848-ada06280-f7c8-11e9-8e0b-eb9a1b7914d0.png)
![image](https://user-images.githubusercontent.com/33435621/67621849-b1cc8000-f7c8-11e9-8488-ac42ccec4640.png)

[2019-10-28 15:52] lisamcmichael opened #992 "As a researcher, I want to draft a research road map so that the Product Owner can decide what features need evaluation for 2019/2020."
## Notes
There are proposed Special Use and Xmas tree permitting enhancements that necessitate evaluation.

## Acceptance Criteria
- [x] PO reviewed research "roadmap"
- [x] PO added comments to "roadmap"

## Tasks
- [x] Review past research
- [x] Review stories on the platform board (icebox, backlog, new issues)
- [x] Create list of research opportunities from those stories
       - [x] Review li

[2019-10-28 17:46] lisaredux opened #994 "As a special use applicant, I want to be able to clearly read the feedback button on the authenticated side so that I know what my options are"
## Notes
*The feedback button is positioned in a way that it may overlap with existing header elements for Special uses — noticeable in authentication with email address gsa.lisashenouda@gmail.com - other users mentioned that they didn't see the same issue, so it might be a bug that appears with certain email character lengths*

## Acceptance Criteria
- [ ] Able to read feedback button even when a

[2019-10-28 18:28] lisaredux commented on #994
@ASprinkle  - I went ahead and created this issue, because upon further investigation of the CSS, it seems like the way Feedback is implemented is not compatible with the rest of the header elements

@mtlaney @briandavidson looks like the #give-feedback CSS attributes for the header need to be modified so there isn't potential overlap of text
![Screenshot 2019-10-28 14 21 35](https://user-images.g

[2019-10-28 21:54] #945 closed

[2019-10-28 21:54] #893 closed

[2019-10-28 21:55] #829 closed

[2019-10-28 21:55] #927 closed

[2019-10-28 21:55] #910 closed

[2019-10-28 21:55] #903 closed

[2019-10-28 21:55] #928 closed

[2019-10-28 21:55] #843 closed

[2019-10-28 21:55] #940 closed

[2019-10-28 21:55] #950 closed

[2019-10-28 21:55] #941 closed

[2019-10-28 21:56] #948 closed

[2019-10-28 21:56] #953 closed

[2019-10-28 21:56] #937 closed

[2019-10-28 21:56] #954 closed

[2019-10-29 13:22] lisamcmichael commented on #862
Nothing fancy

Short for Simple Mail Transfer Protocol, a **protocol for sending e-mail messages between servers**. Most e-mail systems that send mail over the Internet use SMTP to send messages from one server to another; the messages can then be retrieved with an e-mail client using either POP or IMAP.

[2019-10-29 13:56] lisamcmichael commented on #981
@ASprinkle I wonder if this one could be closed because Story 563 includes the "508 accessibility" requirement?

[2019-10-29 14:33] lisamcmichael commented on #564
@ASprinkle Do you think we can close this because Story #604 can encompass it?

[2019-10-29 15:01] mwreiss opened #996 "Platform api Dev Crashed - Troubleshoot"
## Notes
The logs in cloud.gov show that open-forest-platform-api-dev has crashed.  After discussions with the team it appears api connectivity to postgresql database has been lost.

## Acceptance Criteria
- [x] Postgresql database connectivity is back in place as expected

## Tasks
- [x] Research why postgresql database isn't connecting
- [x] Resolve dependencies
- [x] Verify staging and prod wil

[2019-10-29 15:04] mwreiss commented on #996
Current logs supplied by @aqureshi :

Data' GROUP BY i.relname, ix.indexrelid, ix.indisprimary, ix.indisunique, ix.indkey ORDER BY i.relname;
2019-10-28T10:51:50.43-0400 [APP/PROC/WEB/0] OUT 2019-10-28T14:51:50.434Z info: SEQUELIZE: Executing (default): SELECT "name" FROM "SequelizeData" AS "SequelizeMeta" ORDER BY "SequelizeMeta"."name" ASC;
2019-10-28T10:51:50.46-0400 [APP/PROC/WEB/0] ERR ERROR:

[2019-10-29 15:39] ASprinkle commented on #981
@lisamcmichael The result of this story research spike would inform the tasks and the A/C for #563.  Currently, #563 is blocked by this story.

[2019-10-29 15:49] ASprinkle commented on #564
@lisamcmichael Yes, and I made a note in 604 referencing this story in the event we need a refresher, or a better idea of tasks or A/C.

[2019-10-29 15:49] #564 closed

[2019-10-29 16:55] ASprinkle commented on #979
[ARP RE_ Confirming Open Forest site content 10292019.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/3784780/ARP.RE_.Confirming.Open.Forest.site.content.10292019.pdf)

[2019-10-29 18:25] lisamcmichael commented on #992
Met with @lisaredux to review list of research targets.

[2019-10-29 18:39] #560 closed

[2019-10-29 18:44] carlsonem commented on #679
@smahmudFS @mwreiss please refine

[2019-10-29 19:19] lisamcmichael commented on #981
@briandavidson @mtlaney @smahmudFS , FYI:

- Deque University’s Date Picker (referenced by W3C.org)
https://www.w3.org/blog/wai-components-gallery/widget/datepicker/

https://dequeuniversity.com/library/aria/date-pickers/sf-date-picker

- http://eureka2.github.io/ab-datepicker/

Here are a few calendars tools which claim to be accessible, but we have not tested yet:
•	http://mootools.net/forge/p/a

[2019-10-29 19:44] ASprinkle commented on #978
@mtlaney I updated the tasks. It looks like there was another text piece in the change cutting area dates section. I missed that on the initial review...

![image](https://user-images.githubusercontent.com/33435621/67803222-d1261000-fa49-11e9-9c05-1e0ce4d3f36f.png)

[2019-10-29 21:38] briandavidson commented on #840
@ASprinkle hi Amber, this is and the related user feedback stories are ready for you to checkout on staging.

[2019-10-29 21:43] ASprinkle commented on #840
@briandavidson are you available to meet up at the moment?

[2019-10-29 22:58] ASprinkle commented on #676
@briandavidson for the public user feedback tool, can we please remove the "let us know which forests" header and text window? leaving only the "Please share your feedback here:" header and text window.

The thank you for sharing your feedback banner works really well!
![image](https://user-images.githubusercontent.com/33435621/67815647-bf9e3180-fa64-11e9-9c07-f1255e3a323a.png)

[2019-10-29 23:03] ASprinkle commented on #776
@briandavidson as an admin submitting feedback, I noticed that if someone accidentally provides all their feedback in one box, and hits submit, there is no error validation telling them to provide their feedback. Perhaps this will not be an issue. We can launch it an see if we need to build in further restrictions.
![image](https://user-images.githubusercontent.com/33435621/67815964-ab0e6900-fa65-

[2019-10-29 23:06] ASprinkle commented on #776
I also do not think we will have time to test the feedback tool with frontline staff at this time. I think we can go ahead and build it and gather information on it this season to continue to refine it. I am less concerned about the usability around the admin feedback tool vs. the public user feedback tool.

[2019-10-29 23:10] ASprinkle commented on #840
@briandavidson  It looks like the text is not wrapping in the table. Can we get the dates to read across one line, and get the text to wrap?
![image](https://user-images.githubusercontent.com/33435621/67816217-7e0e8600-fa66-11e9-8b76-5cfa2149d121.png)

It looks like I have to zoom out to 33% in order to see the full extent of the table while in Open Forest
![image](https://user-images.githubuserco

[2019-10-30 16:57] mtlaney commented on #978
@ASprinkle Should be good to test again

[2019-10-30 17:27] ASprinkle commented on #676
![image](https://user-images.githubusercontent.com/33435621/67882629-c75ee400-faff-11e9-8d98-6e7bedfc7bf2.png)

Awesome!!

[2019-10-30 20:00] mwreiss commented on #996
Manual deployment from dev branch was successful.  Database connectivity is restored.

Abdul is seeing a 403, he’s looking into now.

[2019-10-30 20:08] mwreiss commented on #996
After some discussion with the team we would like to see the dev environment brought into the CICD process.  Dev was originally put together as a standalone manual process by GSA.

I will create a new issue to track those activities.

[2019-10-30 21:55] ASprinkle commented on #840
![image](https://user-images.githubusercontent.com/33435621/67901949-4a466580-fb25-11e9-95e3-5d56483d7ebc.png)
Looks really great!! @briandavidson @mtlaney

[2019-10-31 15:25] abdul1234e commented on #996
We were still seeing 403 error which got fixed today. Dev is back online. The issue is the script had more missing modules. Updated missing modules and ran npm run dist-dev and deployed in platform-dev.

[2019-10-31 15:26] ASprinkle commented on #631
Looks good!
![image](https://user-images.githubusercontent.com/33435621/67960833-1700e680-fbb8-11e9-8ea6-3aa43b6baac8.png)

[2019-10-31 16:08] mwreiss commented on #996
Thanks @abdul1234e !!

[2019-10-31 17:59] lisaredux commented on #566
We decided to remove the required note in the left-nav and to keep it only above the form. Update here shown:
![Screenshot 2019-10-31 13 18 13](https://user-images.githubusercontent.com/26801590/67973244-8ab9e800-fbe6-11e9-9d9c-9a18061c7ed8.png)

[2019-10-31 18:01] lisaredux commented on #532
@ASprinkle Verbiage here in bold in the design: ![Screenshot 2019-10-31 13 18 13](https://user-images.githubusercontent.com/26801590/67973414-d9678200-fbe6-11e9-8c67-2936f94377ed.png)

[2019-10-31 18:35] lisamcmichael commented on #566
@ASprinkle We decided to launch this design w/out more research, and monitor feedback for any potential issues.

[2019-10-31 18:51] ASprinkle commented on #566
@lisaredux Can you create a full page mock showing the changes for each Step in both permit scenarios. I have updated the Tasks and the A/C, but wonder if there isn't more detail we could provide for Dev?

[2019-10-31 18:57] ASprinkle commented on #532
@lisaredux  can we use the following text: "Please allow up to an hour to complete this form. This session cannot be saved." so that it coincides with the "Application time: Appx. 1 hour" information on the landing page? see tasks list above..

[2019-10-31 19:41] JonathanLerner54 commented on #532
Are we saying that the user should expect the completion of the form takes an hour to fill out?  or are we saying, that the system will time out if the form is not completed within a one hour time period and they user will have to start over?

[2019-10-31 19:44] ASprinkle commented on #532
@JonathanLerner54 we are expecting the time to complete the application to take up to an hour.  We do not expect that the form will time-out at any point in the process.  We want people to be able to plan their day and understand that if they start the application, and then stop/walk away, that the information they enter won't  be saved.

[2019-10-31 20:00] lisamcmichael commented on #981
@briandavidson and @mtlaney, take a look at the "before" video, and the then "Demo" video. Big difference in the experience.

**Making a Better Calendar**
https://www.24a11y.com/2018/a-new-day-making-a-better-calendar/

[2019-11-01 14:05] lisamcmichael opened #1003 "SPIKE, As a Researcher, I want to evaluate "Please allow up to an hour to complete this form. This session cannot be saved.", so that we know if it's understandable."
## Notes

- Will applicants know what a "session" means?
- Should "form" be replaced with "application"?
- Would applicants like a friendlier message?
- I'm proposing a "test" of different variations of _"Please allow up to an hour to complete this form. This session cannot be saved_." with up to 10 employees at TechTrend, possibly some of our team as well.

**See #532**

## Acceptance Criteria
-

[2019-11-01 15:07] lisamcmichael commented on #1003
![Variations 1003](https://user-images.githubusercontent.com/52501060/68034278-c660ba80-fc97-11e9-96a3-35fcad59ce2b.jpg)

[2019-11-01 15:09] lisamcmichael commented on #1003
@lisaredux Take a look at the variations on the instructions. Let me know what you think. I have time later to meet and discuss, after standup. Also, the approach is to setup a "survey" with these options, and test them w/ TechTrend employees, to see which one is most understandable.

[2019-11-01 15:31] lisaredux commented on #1003
Thanks @lisamcmichael — looks good. As far as the variations, my first thought is that A or B are better for brevity.

Also, something to note about this form is that Login.gov won't time them out, I believe. So they could possibly come back to it if they leave if they don't sign out or close their browser. Something to confirm with DEV, but I think with well-crafted verbiage, we can create that s

[2019-11-01 15:33] mtlaney opened #1004 "As a public user, I would like to see the give feedback link displayed correctly on mobile"
## Notes
* Currently the give feedback button has some overlapping on mobile displays *

## Acceptance Criteria
- [x] Give Feedback Link displays correctly on mobile

## Tasks
- [x] Update CSS to fix display issues
- [x] PO approved

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested

[2019-11-01 15:44] lisamcmichael commented on #1003
@lisaredux this is good food for thought and helped me think of yet another variation:
4th option:
**Please give yourself up to an hour to complete the application. And, it will not be saved until it's submitted.**

[2019-11-01 16:40] ASprinkle opened #1006 "As an Oka-Wen Admin I would like to have the English and Spanish info brochures updated for 2019, so that people have the most updated info."
## Notes
* What are things we should consider when making this story *

There is currently 2018 information brochures on the Okan-Wen page under contact us.
The Forest recently sent 2019 brochure information, and anticipated the link for the brochures to take the user back to the FS website.
![image.png](https://images.zenhubusercontent.com/5a00e34b8a75884b90864b6f/1f25bf75-afe8-489b-8d87-e4e0af80

[2019-11-01 17:13] lisamcmichael commented on #1003
_Another set to consider (made small changes here and there). Added a 4th message._
![Variations 1003](https://user-images.githubusercontent.com/52501060/68042498-6bd05a00-fca9-11e9-8aba-2e15e9955612.jpg)

[2019-11-01 18:11] ASprinkle commented on #1006
This looks like it's working in staging...
![image](https://user-images.githubusercontent.com/33435621/68046113-4dae2e00-fc98-11e9-8f65-d9280c3e759b.png)
![image](https://user-images.githubusercontent.com/33435621/68046120-50a91e80-fc98-11e9-9ff2-10ad4e15ffe6.png)

[2019-11-01 18:25] ASprinkle commented on #839
@abdul1234e this story and the program board stories 138 and 139 (adding Dylan and Rebekah) should all be done at the same time.  @carlsonem

[2019-11-01 19:09] lisamcmichael commented on #1003
@ASprinkle and @lisaredux I'm proposing a "test" of different variations of __"Please allow up to an hour to complete this form. This session cannot be saved."_ with up to 10 employees at TechTrend and/or w/in our team members. Joe's comment didn't surprise me; so, it was somewhat the incentive to create additional approaches.

**https://ows.io/qs/5pn4x34v**

[2019-11-01 19:32] lisaredux commented on #1004
@mtlaney — let me know if I can help with some CSS troubleshooting on this

[2019-11-01 20:09] mtlaney commented on #1004
@lisaredux Thanks Lisa, I should have it corrected now on staging, but if you see anything please let me know~!

[2019-11-01 20:23] ASprinkle commented on #1004
This looks great for mobile!!
![image](https://user-images.githubusercontent.com/33435621/68054082-bef6dc80-fcaa-11e9-8345-4eb55bdc6231.png)
![image](https://user-images.githubusercontent.com/33435621/68054088-c5855400-fcaa-11e9-9bc3-62a810075fff.png)

[2019-11-01 20:56] ASprinkle commented on #1003
Thanks @lisamcmichael I provided some suggestions as well...
https://6x8hlxq8.optimalworkshop.com/questions/uy6e0333-0

[2019-11-01 21:30] ASprinkle commented on #992
@lisamcmichael can you please put the link here to the document that we reviewed? I went into Discover>kick off user research> where I thought we were before when reviewing it.. and I don't see it..

[2019-11-01 21:42] ASprinkle commented on #994
@briandavidson @lisaredux Do we know if #840 resolved this?

[2019-11-01 22:16] ASprinkle commented on #981
@lisamcmichael the .24a11y.com  link didn't seem to work for me.. maybe it worked for Mike and Brian! :)

[2019-11-01 22:28] ASprinkle commented on #986
@lisaredux  will update this with some images to help with describing the issue.

[2019-11-04 13:25] lisamcmichael commented on #981
@ASprinkle, I ran test of sorts and discovered that the _FS VPN is "blocking" it._  When I turned off VPN, the site loaded.  You could try the site from another computer.

[2019-11-04 13:32] lisamcmichael commented on #992
Here it is @ASprinkle

**https://usfs.app.box.com/file/547591796267**

[2019-11-04 14:26] abdul1234e commented on #839
they are added in production including rebeeka and dylan.

[2019-11-04 17:06] lisamcmichael commented on #1003
Hi, @ASprinkle and @lisaredux _I've updated the messaging options, and enhanced the "getting started" section:_

**Getting started...**
Imagine you're applying for a Special Use permit. In addition to taking about an hour to complete the application, you'll need to have several documents on hand. Also, at this time you cannot save your application and come back to finish it later.

To make the exp

[2019-11-04 17:21] ASprinkle opened #1011 "As an Oka-Wen tree cutter I want to be informed that I can dig up my tree so that I know what's allowed."
## Notes
* What are things we should consider when making this story *

Add information about being able to dig up a tree.

## Acceptance Criteria
- [x] Christmas tree transplant information is specified in the How to Cut your tree section.
- [x] Rules are updated to reflect transplanting a Christmas tree.

## Tasks
- [x] Underneath the tree topping prohibited text/icon, insert the following text:

[2019-11-04 17:38] ASprinkle commented on #839
Thanks @abdul1234e I will contact the forest POCs to inform them, and ask them to test their access.

[2019-11-04 17:48] ASprinkle commented on #1003
@lisamcmichael looks good to me. Let's ID who we're going to sample this with and launch it. I see our meeting for this morning for a touch base, awesome!

[2019-11-04 18:08] ASprinkle commented on #839
Both Leo and Charlotte checked their access to https://openforest.fs.usda.gov/admin/christmas-trees/reports and they receive  a white blank page.
![AdminBlankPage](https://user-images.githubusercontent.com/33435621/68145602-09669c00-feeb-11e9-952f-890bb17414d9.png)

[2019-11-04 18:13] ASprinkle opened #1016 "As a Christmas tree user I want to be informed about having to print my permit before I enter my info so that I know what's expected."
## Notes
* What are things we should consider when making this story *
![PrintPermitPaymentPhasetext.png](https://images.zenhubusercontent.com/5a00e34b8a75884b90864b6f/0d9746f6-1e1c-4a88-a695-06bf7b2702f1)

## Acceptance Criteria
- [x] The text is added to the Buy a Christmas tree permit page (at the beginning of the "payment" phase)

## Tasks
- [x] Below the information about Christmas tree permi

[2019-11-04 18:29] ASprinkle commented on #762
@lisaredux  do you have another link to that video ^ I receive a 404 error when I click on it.

[2019-11-04 18:35] lisamcmichael commented on #1003
going to Mt Hood, MBS and Jon

[2019-11-04 18:40] ASprinkle commented on #839
Confirmed that Chamise Kramer has access : "Seems to work for me, Amber!"

[2019-11-04 18:42] lisamcmichael commented on #1003
Sending Amber a link to the survey

- launched survey
- amber sending it out to a select set of participants, including Jon

[2019-11-04 18:51] lisaredux commented on #762
@ASprinkle that's strange, I get the same 404 error now. Let me try and see what I can do. Thanks for letting me know

[2019-11-04 18:51] lisamcmichael commented on #1003
@ASprinkle _Here is the link to the Survey_

**https://ows.io/qs/c142v8nt**

[2019-11-04 18:55] lisaredux commented on #762
@ASprinkle & team — hope this one works now. The other one above might've expired
[ScreenRecording-LogOutIssue-Xmastrees-eAuth.zip](https://github.com/USDAForestService/fs-open-forest-platform/files/3805565/ScreenRecording-LogOutIssue-Xmastrees-eAuth.zip)

[2019-11-04 19:33] carlsonem commented on #1016
Need to make this change to every forest page

[2019-11-04 21:31] ASprinkle commented on #532
waiting on results of #1003  before we decide on the language.

[2019-11-04 21:51] ASprinkle commented on #1011
![image](https://user-images.githubusercontent.com/33435621/68161178-23fc3d80-ff0a-11e9-85ff-7e221c7fd3d2.png)
![image](https://user-images.githubusercontent.com/33435621/68161181-265e9780-ff0a-11e9-94a2-b8636776d069.png)

[2019-11-04 23:16] ASprinkle opened #1017 "As a Fre-Win admin i would like to see the stump height and diameter updated so that tree cutters do the right thing."
## Notes
* What are things we should consider when making this story *

I received this message from our POC on the Fre-Win: "So sorry to ask….but an error was pointed out to me and I don’t know if we can correct it now or not.......We have a 15 foot with a 6” diameter base, not stump height…the stump height is less than 12”….

## Acceptance Criteria
- [x] Stump height is shown as 12 inches maximu

[2019-11-05 15:31] Dmac26 opened #1019 "As an Open Forest User, I'd like to be able to input my email address with upper-case characters"
## Notes
A customer emailed the support team stating that they were unable to buy a permit because the email address field in the "buy permit" section was telling them they had an invalid address. Upon further investigation it was determined that the customer was using upper-case letters in their address. When we input the address with lower-case letters, everything functioned as normal.

![image]

[2019-11-05 18:28] ASprinkle commented on #1017
The printed permit looks great!
Can we add the stump diameter icon and 6 inch max to the How to cut your tree section, and also update the rules and guidelines with the stump diameter info?
![image](https://user-images.githubusercontent.com/33435621/68234667-90347b00-ffb6-11e9-90da-aa49e69f018c.png)

![image](https://user-images.githubusercontent.com/33435621/68234792-e3a6c900-ffb6-11e9-8fd3-a7b6b

[2019-11-05 18:49] lisamcmichael commented on #1003
@ASprinkle We have **2 responses to the survey** so far. When we meet, we can go over those.

[2019-11-05 18:54] ASprinkle commented on #839
Charlotte needed to download and access admin via Chrome.  Admin access via IE (and removing usda.gov compatibility view settings) resulted in this view.
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/33435621/68236781-aba18500-ffba-11e9-8363-5d23e8c07772.png)

[2019-11-05 18:56] ASprinkle commented on #1003
ok, thanks. one of those was mine... not to be a skew but i tested it before sending. I commented "keep it short and sweet" :)

[2019-11-05 21:02] lisamcmichael opened #1024 "SPIKE, As a Researcher, I want to share survey findings from story #1003", so that Special Permit application "instructions" are understandable.."
## Notes
**See story #1003 and #532**

## Acceptance Criteria
- [x] PO approves new language/content (Special Permit application)  #532

## Tasks
- [x] Researcher launches launches survey
- [x] Researcher and PO review survey findings and decider on "go live" content for pilot

## Definition of Done
- [x] Story #532 is updated.

[2019-11-05 21:03] lisamcmichael commented on #1024
@ASprinkle If you think this isn't needed, feel free to close the story.

[2019-11-05 21:29] ASprinkle commented on #1017
![image](https://user-images.githubusercontent.com/33435621/68247682-30e36480-ffd0-11e9-8677-0aceb4ea4e09.png)
![image](https://user-images.githubusercontent.com/33435621/68247689-33de5500-ffd0-11e9-9989-8c79e09b1f10.png)
![image](https://user-images.githubusercontent.com/33435621/68247693-3640af00-ffd0-11e9-9a9a-347fdecabcf3.png)

[2019-11-06 16:08] ASprinkle commented on #1019
Looks good!
![image](https://user-images.githubusercontent.com/33435621/68315410-95540180-006c-11ea-9138-85192b0b0d35.png)

[2019-11-06 16:09] ASprinkle commented on #850
![image](https://user-images.githubusercontent.com/33435621/68315501-b74d8400-006c-11ea-9ad9-2609057859cc.png)

[2019-11-06 18:44] lisamcmichael commented on #1003
@ASprinkle How many survey invitations did you send out? Thx.

[2019-11-06 18:46] ASprinkle commented on #1003
@lisamcmichael I sent the invite to 6 individuals.

[2019-11-06 18:47] lisamcmichael commented on #887
Amber and I talked about this story, and we will include Lisa S. and/or me in the "retro" because we assume there could be design considerations too.

[2019-11-06 18:51] lisamcmichael opened #1026 "@lisamcmichael I sent the invite to 6 individuals."
@lisamcmichael I sent the invite to 6 individuals.

_Originally posted by @ASprinkle in https://github.com/USDAForestService/fs-open-forest-platform/issues/1003#issuecomment-550447080_

**Was Jon included?** Also, we have 'room' to invite 3 more people with our free subscription.

[2019-11-06 19:16] lisamcmichael commented on #981
@briandavidson @mtlaney Should I do more digging for 508-styled calendars and/or date pickers?

[2019-11-06 19:25] lisamcmichael commented on #566
@briandavidson **Take a look at the Screenshot Lisa posted 6 days ago.** Any further questions, let me know.

[2019-11-06 19:57] ASprinkle opened #1027 "As an FS Admin I would like an easy way to make content updates so that updates can be made efficiently."
## Notes
* What are things we should consider when making this story *

As a result of the program increment retrospective, an area for improvement is to make the content update process more efficient.
The tasks associated with this story may also be determined from the results of the

## Acceptance Criteria
- [ ]

## Tasks
- [ ]
- [ ] PO approved

## Definition of Done
- [ ] Pull requests meet te

[2019-11-06 20:24] mtlaney opened #1028 "Turn off seeder in production"
## Notes
* We need to turn off the seederfile in production*

## Acceptance Criteria
- [x] Seederfile is turned off

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested
- [x] PO Approved

[2019-11-06 20:47] ASprinkle commented on #1028
@mtlaney thanks. it's important to get this in right away so that the site doesn't reset tonight. :)

[2019-11-06 21:06] lisamcmichael commented on #280
@ASprinkle When you have time, look at this story. I wonder if it needs updating, or should be "mothballed"? Thx.

[2019-11-06 21:47] JonathanLerner54 commented on #1028
Please provide more details on what the issue is and why this is needed.  Thanks

[2019-11-06 22:18] ASprinkle commented on #1028
We need to turn off the seederfile so the x-mas tree cutting area dates/times do not revert to something incorrect. this reduces risk of the site populating inaccurate information. The seederfile is something that needs to be re-worked for efficiencies sake after this pilot season is over. Our team determined during this season's pilot build, that this is something we'll need to address in the fut

[2019-11-06 22:19] ASprinkle commented on #979
When we updated Prod today, I had to log into PROD as an Admin and update the ARP cutting area times again.. @mtlaney

[2019-11-06 22:26] JonathanLerner54 commented on #1028
Thanks,

[2019-11-07 15:25] ASprinkle commented on #839
Hello @abdul1234e Charlotte Kennymore tested her admin functions, and this is what she sees when she logs in as an admin.  No forests are listed.  Is there a bug with trying to assign multiple forests to one person?
She should see the Arapaho and Roosevelt and the Shoshone National Forest, which are both Region 2 forests.
![AdminNoForests](https://user-images.githubusercontent.com/33435621/6840210

[2019-11-07 15:32] abdul1234e commented on #839
{
          "admin_username": "CHARLOTTE_KENNYMORE",
          "forests": [
            "region2"
          ]
        },

yes it seems to be a bug because in her admin right, she has multiple forest. i tried adding her with commas first that didn't work then adding individual forest with her name even that didn't work.

Then finally i added her with region2 as you suggested.

[2019-11-07 16:00] ASprinkle commented on #839
Ahh... ok, well, I am going to guess that since "Region 2" does not exist in the system, that it won't work... Since we determined we are not currently able to specify certain forests, can we add her to all forests then?  Should I create a new story for that?

[2019-11-07 16:09] abdul1234e commented on #839
yes amber. i was going to suggest you the same to add her in all forests.

sounds good.

[2019-11-07 16:23] ASprinkle opened #1031 "As an admin for multiple forests I want to see my forests listed so that I can do admin things."
## Notes
* What are things we should consider when making this story *

We recently found that Admins who are in charge of multiple forests cannot see any forests listed in the Admin Generate Reports or Change Season Dates tabs.
Reference story #749 and #839

![AdminNoForests.png](https://images.zenhubusercontent.com/5a00e34b8a75884b90864b6f/d9d4b42a-be4b-454f-adef-524adfdab469)

![L_3E14 tmp](htt

[2019-11-07 16:50] ASprinkle commented on #839
Created story #1031 to address multi-forest admins

[2019-11-07 17:24] ASprinkle commented on #280
The link in the story is to this spreadheet.
Based on the information in this spreadsheet and our current program increment plan, I agree this story can be closed.

[ePermit Production Checklist.xlsx](https://github.com/USDAForestService/fs-open-forest-platform/files/3820908/ePermit.Production.Checklist.xlsx)

[2019-11-07 17:26] #280 closed

[2019-11-07 17:31] lisamcmichael commented on #1003
@ASprinkle I created a duplicate of our survey, and shared it w/ Dylan, Rebekah and Eric. It will be interesting  to see how their responses compare/contrast to actual Open Forest personnel. I'll put a meeting on our calendar for tomorrow to 'sync up' and review.

[2019-11-07 18:19] ASprinkle opened #1033 "As a Christmas tree cutter on the WIL NF, I want to be informed about prohibited tree species."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [x] Prohibited species are updated to show Western White Pine and Whitebark Pine.  Pacific yew is kept.
![WIL_prohibitedspecies.JPG](https://images.zenhubusercontent.com/5a00e34b8a75884b90864b6f/f6b7513e-6a75-45a0-a2a6-5098319cfc30)
## Tasks
- [x] Do not Remove Pacific Yew photo and text from the Ident

[2019-11-07 19:04] lisamcmichael commented on #530
@ASprinkle I wonder if this can be set to another status .... when Lisa gets back she can add the text to the 2 mockups and then it's ready for Brian or Mike.

[2019-11-07 19:07] lisamcmichael commented on #530
@lisaredux When you have a few, let me know if I can help get this story ready and over to dev.

[2019-11-07 20:18] ASprinkle opened #1036 "As someone providing feedback, I would like to be informed that no one will be responding to me so that I know what to expect."
## Notes
* What are things we should consider when making this story *

We have heard from a few people that when someone submits "feedback" they may expect a response from the team.  We will need to add some informational text to the feedback page so that people know that submitting feedback does not result in a response, and that if they have a question, they should contact customer support.

##

[2019-11-07 20:19] ASprinkle commented on #604
Chris Bentley suggested a map tool during a Christmas tree sprint review. christopher.w.bentley@usda.gov

[2019-11-07 20:47] lisamcmichael commented on #348
@ASprinkle 2 weeks ago we decided to make these updates. Would it be jumping the gun to move it to In Progress, and have Lisa S. mockup the changes when she gets back?

For the first paragraph, revise it to: "Please provide description of client charges and fees."
Also, on the Learn More page, remove: "Forest service handbook info"(See FSH 2709.11, sec. 37.21c)"

[2019-11-07 21:41] abdul1234e commented on #1031
This is completed. i followed with Charlotte, she can access admin privileges both on staging and prod.

Need to follow-up with other folks.

[2019-11-07 21:46] ASprinkle commented on #1031
Thank  you @abdul1234e  I sent an email to everyone confirming. Will update when we hear back from them. Will move to Awaiting Acceptance in the meantime.

[2019-11-07 21:48] ASprinkle commented on #1036
Updated story #984 with this information. closed this story.

[2019-11-07 21:48] #1036 closed

[2019-11-08 00:23] ASprinkle commented on #348
I think a mock up will be a great plan. there is more to it than just those changes... I'll work on updating the A/C

[2019-11-08 01:13] ASprinkle commented on #1031
@abdul1234e Brian informed me that you called him and that we'll check in on his admin access again tomorrow. I was able to confirm with Dana and Krystal that they can see all forests.

[2019-11-08 02:00] ASprinkle commented on #899
Awesome! it was pre-checked, and all the stuff was there!
![image](https://user-images.githubusercontent.com/33435621/68443359-7fd3fa00-0188-11ea-8286-46b4a7b6239d.png)
![image](https://user-images.githubusercontent.com/33435621/68443367-82ceea80-0188-11ea-9aeb-95f0b9fda72a.png)

[2019-11-08 02:04] ASprinkle commented on #1033
Thumbs Up
![image](https://user-images.githubusercontent.com/33435621/68443486-d6413880-0188-11ea-8f9c-745f79baca3d.png)
![image](https://user-images.githubusercontent.com/33435621/68443491-d8a39280-0188-11ea-8502-cee66b491a12.png)

[2019-11-08 02:11] ASprinkle commented on #566
@briandavidson I was reviewing some Christmas tree stuff, and I noticed that it looks like some of the work for this story is showing up on the Christmas tree pages. I think this is a happy unplanned thing, since we'll likely want to denote required fields across the platform in the future.
![image](https://user-images.githubusercontent.com/33435621/68443779-d42ba980-0189-11ea-9254-c246c734db24.pn

[2019-11-08 02:16] ASprinkle commented on #371
@briandavidson When attempting to test this out I had some odd interactions that were difficult to capture on screen shot... I think I will check it in again tomorrow, and coordinate with you if needed.

[2019-11-08 02:20] ASprinkle commented on #467
Looks great!

[2019-11-08 13:22] lisamcmichael commented on #984
Hi @ASprinkle, if I recall we are using the same Feedback feature for Special Use permits. If that's right, we can tack-on the label Special Uses and let @lisaredux know. Make sense?

[2019-11-08 15:23] ASprinkle commented on #984
If it's xmas and SU, then we can use the platform label. :)

[2019-11-08 15:34] ASprinkle opened #1038 "As a xmas tree cutter i don't want to be confused by seeing code factor in the ARP rules and guidelines when I print them."
## Notes
* What are things we should consider when making this story *

![image](https://user-images.githubusercontent.com/33435621/68488642-6075b500-01fa-11ea-957f-790440aa77f1.png)

![image.png](https://images.zenhubusercontent.com/5a00e34b8a75884b90864b6f/ece58cbd-0b44-4d59-bcee-64d69140b6c9)

## Acceptance Criteria
- [x] There is no code factor in the ARP printed rules and guidelines.

## Task

[2019-11-08 18:01] briandavidson commented on #566
@ASprinkle that was actually not my intention! Apparently some of the UI components used in non-commercial and temporary-outfitter application forms are reused in other areas of site, despite not being in the `/shared` folder with the other reusable components.

[2019-11-08 18:44] ASprinkle commented on #1024
Based on the results of the survey, this will be the language we use:

**"It may take a while to complete the application. To save time, have all of your documents ready.  You won’t be able to save the application to complete it later. The application will be saved once it’s submitted."**

[2019-11-08 18:46] ASprinkle commented on #532
The Results Are In:

**"It may take a while to complete the application. To save time, have all of your documents ready.  You won’t be able to save the application to complete it later. The application will be saved once it’s submitted."**

[2019-11-08 19:27] ASprinkle opened #1040 "SPIKE 404 error when printing from confirmation page"
## Notes
* What are things we should consider when making this story *
[404whenPrintingConfirm.docx](https://github.com/USDAForestService/fs-open-forest-platform/files/3837867/404whenPrintingConfirm.docx)

## Acceptance Criteria
- [x] We understand why the 404 error is populating at this stage
- [x] We can print permits from the confirmation page without a 404 error,

## Tasks
- [x] Research 404 e

[2019-11-08 19:52] lisamcmichael commented on #634
Adding this as a task to Story #636 , and closing the story.

[2019-11-08 19:52] #634 closed

[2019-11-08 20:00] lisamcmichael commented on #635
Closing issue. Added to #636

[2019-11-08 20:00] #635 closed

[2019-11-08 20:10] lisamcmichael commented on #638
Closed story. Added tasks, A/C and Def. Done to #636

[2019-11-08 20:10] #638 closed

[2019-11-08 20:27] #637 closed

[2019-11-08 20:27] lisamcmichael commented on #636
Closed the other SEO stories, and relevant tasks, A/C and Definition of Done added here.

[2019-11-08 21:06] ASprinkle commented on #637
@lisamcmichael  ^ thanks for reviewing!

[2019-11-08 21:41] ASprinkle commented on #1031
Brian confirmed access.

[2019-11-08 22:22] ASprinkle commented on #566
@briandavidson I updated the tasks for the Christmas tree page interaction.

[2019-11-08 22:33] ASprinkle commented on #371
Great work on this Brian! the workflow operated really well!!
(by the way, the "Apply Now" button design looks like it changes based on whether or not the individual has already logged in through login.gov).

![image](https://user-images.githubusercontent.com/33435621/68515109-b5ceb800-0234-11ea-9d90-22e6bd2a9cea.png)

[2019-11-12 15:52] #1026 closed

[2019-11-12 15:54] lisamcmichael commented on #1026
@ASprinkle I moved this to Closed, now that the Survey was completed and closed, and that we met and determined the correct language to use for stories #532, #1003 and #1024.

[2019-11-12 16:00] lisamcmichael opened #1041 "UPDATED CONTENT..."
**"It may take a while to complete the application. To save time, have all of your documents ready.  You won’t be able to save the application to complete it later. The application will be saved once it’s submitted."**

_Originally posted by @ASprinkle in https://github.com/USDAForestService/fs-open-forest-platform/issues/532#issuecomment-551945205_

[2019-11-12 16:00] #1041 closed

[2019-11-12 16:04] lisamcmichael commented on #532
Hi @lisaredux, 4 days ago Amber and I reviewed survey results of the best way to explain that applications cannot be saved. This is the updated content. We have a task to mock it up before going to development. Any questions, just let me know.

**It may take a while to complete the application. To save time, have all of your documents ready. You won’t be able to save the application to complete it

[2019-11-12 16:20] ASprinkle opened #1042 "As an Open Forest Admin I want to make sure the right people have access so that the forest can do admin things."
## Notes
* What are things we should consider when making this story *
Remove Seana Lammers as an Open Forest Admin. She is no longer working for the Fre-Win/Forest Service.

## Acceptance Criteria
- [x] Seana Lammers no longer has administrative access to Open Forest
- [x] Angie Forbes is granted access in place of Seana for the Fremont-Winema
- [x] We've confirmed that Rebecca Busscher has acces

[2019-11-12 16:50] lisamcmichael commented on #604
Aaron's _Program Increment_ has this story slated in December (_Finalize Updated forest
selection experience for Xmas Tree, something besides drop down_). @ASprinkle and @lisaredux I'll research UI patterns for "multi-selectors".

[2019-11-12 16:55] ASprinkle commented on #604
@lisamcmichael good to be thinking about this, however I think we've got some other design stories prioritized over this one in the backlog.

[2019-11-12 17:01] ASprinkle opened #1043 "SPIKE: Demo the special uses application process for the team"
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [x] the team has an understanding of the workflow for both applications on the MBS special uses platform.

## Tasks
- [x] Schedule demo for team
- [x] Special uses non-commercial group use applicant workflow/process demo.
- [x] Special uses non-commercial group use admin workflow/process demo.
- [x] Sp

[2019-11-12 17:02] ASprinkle commented on #1043
Demo scheduled 11/13 @ 0630 PST

[2019-11-12 17:30] ASprinkle opened #1044 "(MVP) As an MBS SU Admin I would like to know that the platform has been successfully tested in PROD prior to launch so that I can feel good about being ready."
## Notes

We want to run some end to end tests for special uses in PROD to verify it is working in PROD in prep for launch. (we especially want to test email correspondence and links, and make sure that when we accept to SUDS, that it goes there in PROD).

## Acceptance Criteria
- [x] Testing passed successfully and is ready for "real" customers to use the module

## Tasks
- [x] Develop testing sc

[2019-11-12 17:34] abdul1234e commented on #1042
Amber, I got to restart prod with this environment variables update. We will update later tonight or your recommend time suggested.

[2019-11-12 18:21] lisamcmichael commented on #604
@ASprinkle I've combed through icebox and backlog, and most stories are suitable for design or dev), or identified as not for MBS pilot. Here are some stories that I could work on. Just let me know. Also, point me to ones that you have in mind. Possibly #348 (researching ideas?); although this story is not identified for pilot. There's #948, (creating language) for the feedback has been submitted

[2019-11-12 18:31] #1031 closed

[2019-11-12 18:32] #850 closed

[2019-11-12 18:33] #1019 closed

[2019-11-12 18:33] #1017 closed

[2019-11-12 18:33] #987 closed

[2019-11-12 18:33] #1011 closed

[2019-11-12 18:33] #1006 closed

[2019-11-12 18:34] #1004 closed

[2019-11-12 18:35] #676 closed

[2019-11-12 18:35] #776 closed

[2019-11-12 18:35] #840 closed

[2019-11-12 18:36] #761 closed

[2019-11-12 18:36] #631 closed

[2019-11-12 18:36] #978 closed

[2019-11-12 18:36] #839 closed

[2019-11-12 18:36] #979 closed

[2019-11-12 18:37] #965 closed

[2019-11-12 18:37] #996 closed

[2019-11-12 18:37] #1028 closed

[2019-11-12 18:37] #992 closed

[2019-11-12 18:38] #1003 closed

[2019-11-12 18:38] #1024 closed

[2019-11-12 19:25] lisamcmichael commented on #604
We can meet, @ASprinkle, on this as soon as you and @lisaredux are ready.

[2019-11-12 19:31] ASprinkle commented on #604
Thanks @lisamcmichael I'll see if I can find a time for us!

[2019-11-12 19:37] ASprinkle commented on #673
@carlsonem @mwreiss check for redundancy on the program board.

[2019-11-12 19:41] carlsonem commented on #679
@smahmudFS please add tasks

[2019-11-12 20:29] ASprinkle commented on #1042
@abdul1234e I updated this to include an admin check on Rebecca Busscher for the Mt. Baker-Snoqualmie based on a  recent customer support issue that @Rebekah-Hernandez and Dylan received

[2019-11-12 20:31] ASprinkle commented on #1042
We confirmed at stand up today that the recommended time for a prod restart would be 0800 Eastern (0500 PST), and not during the nightly resets.

[2019-11-13 00:25] ASprinkle commented on #1016
@mtlaney I checked this afternoon, and i don't see it updated in staging yet.

[2019-11-13 13:05] abdul1234e commented on #1042
removed seana and added angie.

{
          "admin_username": "ANGIE_FORBES",
          "forests": [
            "fremontwinema"
          ]
        },

confirmed access to rebekah.

{
          "admin_username": "REBECCA_BUSSCHER",
          "forests": [
            "mtbakersnoqualmie"
          ]
        },

[2019-11-13 14:10] ASprinkle commented on #1016
![image](https://user-images.githubusercontent.com/33435621/68771169-511cb000-05dc-11ea-935b-fd866aa8a253.png)
looks good to me!

[2019-11-13 14:15] ASprinkle opened #1048 "As a public user I want to see an image with a link to Open Forest on social media so that I can recognize the site."
## Notes
* What are things we should consider when making this story *

When Open Forest is linked on social media, an image is not associated with the web link.

## Acceptance Criteria
- [ ]

## Tasks
- [ ]
- [ ] PO approved

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested

[2019-11-13 14:17] ASprinkle commented on #1048
@lisaredux @lisamcmichael can you both help me test and refine this soon? There was an issue with this last year, and I do not think we ever addressed it in time for this year. Forests may be inclined to post more on social media if an image was automatically associated with a link to Open Forest weblink.

[2019-11-13 15:51] lisamcmichael commented on #1048
@lisaredux Let's grab some time to review this when you are ready. Thx!

[2019-11-13 15:53] lisaredux commented on #1048
@ASprinkle @lisamcmichael Definitely! I'll do a bit of research on what the links are grabbing for the  preview

[2019-11-13 17:12] lisamcmichael commented on #981
@ASprinkle there are several resources I posted for Mike and/or Brian to consider. I set this to In Progress because research has started on date pickers and/or calendars; and, I took my name off the story.

[2019-11-13 17:52] ASprinkle commented on #1042
@abdul1234e more admin access issues for folks.  It would  be good for you to go back and check all of our admins as a proactive approach to id any potential issues with access. I will make a list for you to work from and update the story in a bit.

[2019-11-13 17:59] lisaredux commented on #532
@lisamcmichael thanks for the update. That is definitely a nice, clear and concise version. Well-done!

[2019-11-13 18:54] ASprinkle commented on #1042
I created a workbook called "All Forests DatesCodesAdmins" there is a tab for Admins in this workbook that you can use to cross check access.  I think I captured all of them. I am curious to know if I missed any that are in our system. https://usfs.box.com/s/6n8130crzvivssgrqt4jpn569vwam0mu

[2019-11-13 18:54] smahmudFS commented on #679
Added tasks

[2019-11-13 19:06] ASprinkle commented on #1038
Update from stand up @briandavidson will to a preemptive push to staging to verify the solution is working.

[2019-11-13 19:11] lisaredux commented on #532
Working on the mockup this afternoon

[2019-11-13 19:22] mwreiss commented on #679
Thanks @smahmudFS , I will assign it to us and move it to in progress.

[2019-11-13 19:26] lisaredux commented on #532
@ASprinkle @lisamcmichael here's the latest... feel free to give feedback or, if none, to move it to ready for DEV
![Screenshot 2019-11-13 14 20 06](https://user-images.githubusercontent.com/26801590/68796573-1d17ae00-0621-11ea-9966-09124cfa2e6a.png)

[2019-11-13 19:37] lisaredux commented on #530
@ASprinkle @lisamcmichael working on this story this afternoon. Update after our meeting, hopefully

[2019-11-13 19:39] ASprinkle commented on #532
@lisaredux that looks like our plan.  I would suggest making it a gray hint text. I realize it's bold in the tasks list above, but I don't think we want it bold here.  Also, is there anything we can do to the design/flow of the series of information here to make it feel friendlier?  Looking at the header, followed by required fields, followed by PII, followed by our new text feels a bit wonky. Any

[2019-11-13 19:58] lisaredux commented on #348
Tackling this one after story 530

[2019-11-13 20:37] ASprinkle commented on #966
@lisaredux  we will also want a way to get back to the home page from the page where the applicant can view the details of their previously submitted application.
![image](https://user-images.githubusercontent.com/33435621/68802234-66accc80-0612-11ea-9c0a-13c47bfa60a2.png)

[2019-11-13 20:56] lisaredux commented on #532
<img width="1176" alt="Screenshot 2019-11-13 15 56 14" src="https://user-images.githubusercontent.com/26801590/68803644-25c2b100-062e-11ea-8373-161b9fb2ec35.png">

[2019-11-13 21:13] abdul1234e commented on #1042
@ASprinkle @mwreiss  thanks for list you share. I did some testing in staging with forest

Fremont-Winema National Forest
Rogue River-Siskiyou National Forest
Mt. Baker-Snoqualmie National Forest
Okanogan-Wenatchee National Forest

they all are having issues in portal giving blank forest.

![image](https://user-images.githubusercontent.com/31516419/68804657-3c6a0780-0630-11ea-8733-58a4877b823f.png

[2019-11-13 21:18] ASprinkle commented on #984
@Rebekah-Hernandez here is a document that I started for a brainstorm around what our feedback information on our wiki could include. it's some disorganized thoughts around the feedback tool. I think you can help with refining this a bit. https://usfs.box.com/s/c6gr6p9thei3agy4aw3ruya6xjojc1tk
@lisaredux  there might also be some ideas here on text to add to the feedback pages so that people have

[2019-11-13 21:23] ASprinkle commented on #1042
@abdul1234e thanks for this update. Where do we go from here for individuals that only need (should have) access to a single forest?  I think it is interesting that this appears to be associated with our only hyphenated forests.  are there any issues with the  "Arapaho and Roosevelt" which is one forest in our system.

[2019-11-13 21:28] abdul1234e commented on #1042
there is no issues with arp forest name. Its sound like only issue with hyphenated forest names.

I have verified with kristie.

![image](https://user-images.githubusercontent.com/31516419/68805767-776d3a80-0632-11ea-9a7d-35dd75d11694.png)

{
          "admin_username": "KRISTIE_SALZMANN",
          "forests": [
            "shoshone"
          ]
        },
or {
          "admin_username": "JODI_K

[2019-11-13 21:32] lisaredux commented on #532
@ASprinkle @lisamcmichael @Rebekah-Hernandez Updated design for your review here:
<img width="1190" alt="Screenshot 2019-11-13 16 29 16" src="https://user-images.githubusercontent.com/26801590/68806011-f9f5fa00-0632-11ea-8a37-42e854813188.png">

<img width="1186" alt="Screenshot 2019-11-13 16 27 40" src="https://user-images.githubusercontent.com/26801590/68806064-198d2280-0633-11ea-956e-c61e002482

[2019-11-13 21:45] ASprinkle commented on #566
@briandavidson it looks like this is already up on Prod, however the story is still in progress, and has work left on it. here are some screen shots from Christmas tree in prod:
![image](https://user-images.githubusercontent.com/33435621/68806958-c78cd280-061b-11ea-9ed4-93c9247c86a5.png)
![image](https://user-images.githubusercontent.com/33435621/68806974-d1aed100-061b-11ea-9dd6-1761f3feb8ee.png)

[2019-11-13 21:53] ASprinkle commented on #1042
We verified that Tammy Williams on the ARP cannot access the generate reports function, she sees no forests listed. I have asked her for a screen shot of what she sees. Interesting that the "Arapaho and Roosevelt" is shown as "arp" in the code, and other forests are written out. is there perhaps a bug related to that?

[2019-11-13 23:23] mwreiss commented on #1042
@abdul1234e  Are you sure that all the users trying are Level 2 assurance in eAuth?  The issue seems inconsistent if some are working but others are not within the same forest.  Is that reasonable to think or is the issue unrelated?

Do we have a baseline who is working and who is not for each?

[2019-11-14 14:01] lisamcmichael commented on #532
For non-commercial, it's a streamlined application. What do @lisaredux @ASprinkle @Rebekah-Hernandez  think about having this (_instead of the full "disclaimer_)?  You won’t be able to save the application to complete it later. The application will be saved once it’s submitted.

[2019-11-14 14:04] lisamcmichael commented on #566
@briandavidson **Thx!**

[2019-11-14 14:15] lisamcmichael commented on #984
@Rebekah-Hernandez @lisaredux no rush on my side, but let's grab some time to kick ideas around.

[2019-11-14 15:06] ASprinkle commented on #1042
@mwreiss Not a solid baseline I have asked for everyone to check their permissions. I started tracking it in a spreadsheet in pinyon https://usfs.box.com/s/6n8130crzvivssgrqt4jpn569vwam0mu

[2019-11-14 15:07] ASprinkle commented on #984
@lisamcmichael I also started a pinyon doc with some ideas/phrases, link ^

[2019-11-14 15:09] ASprinkle commented on #532
Ahh, good suggestion since it only takes 20 minutes or so. However if someone decided to type in a bunch of detail it could take a while....

[2019-11-14 15:11] abdul1234e commented on #1042
I have confirmed with rebecca and silva. they both can see one forest in the production site.

need to check with others.

I will work check with eauth again for Tammy wiliams. it could be first and last name might be differ.

[2019-11-14 15:14] ASprinkle commented on #1042
@abdul1234e that is GREAT news!

[2019-11-14 15:24] Rebekah-Hernandez commented on #532
I think it would be fine to take the bit off about time. Even if they input a lot of details, I don't think we would need to include that it would take "a while". Going into the application, it mentions that it should take 20-30 minutes.

[2019-11-14 15:52] ASprinkle commented on #532
Lets mock it up for the non-commercial group use side. Sounds good? @lisaredux

[2019-11-14 16:00] ASprinkle commented on #532
BTW the Temp OG mocks look really good.

[2019-11-14 16:08] lisaredux commented on #532
@ASprinkle @lisamcmichael @Rebekah-Hernandez Updated non-commercial:
<img width="836" alt="Screenshot 2019-11-14 11 06 19" src="https://user-images.githubusercontent.com/26801590/68874203-cb2d6180-06ce-11ea-8c47-0e83dc440e48.png">

![](https://user-images.githubusercontent.com/26801590/68807901-b3a29a00-0636-11ea-82ab-10c75a81ee3e.png)

[2019-11-14 16:34] lisaredux commented on #530
@ASprinkle trying to find the best location for this timing information on the Learn More pages. And in order to do that, trying to figure out what happened to Application Requirements sections. Did we forget to include that on the Learn More pages? I'm having trouble remembering where we might have missed some content. Please advise.

Currently:
<img width="919" alt="Screenshot 2019-11-14 11 31 3

[2019-11-14 18:02] ASprinkle commented on #532
I wonder if "You won't be able to..." as the first intro leaves the user feeling good, or not.  Perhaps we should lighten it and switch the order of things... "Your application will be saved once it is submitted. You won't be able to save the application to complete it later."  Sound ok?

[2019-11-14 18:11] Rebekah-Hernandez commented on #532
I think that sounds a lot better personally.

[2019-11-14 18:13] Rebekah-Hernandez commented on #984
@ASprinkle @lisamcmichael @lisaredux  I updated the pinyon folder linked above ^ with a rough outline of the flow and direction of the wiki page and what I thought might be the necessary information to include on the feedback link itself. Please review when you get a chance and let me know if that direction is okay and if you'd like to start flushing it out - or if there is anything else needed.

[2019-11-14 18:45] mwreiss commented on #673
@ASprinkle  we can move this issue to close.  I have this captured on the program board. 152

[2019-11-14 18:46] ASprinkle commented on #530
@lisaredux  I see what you're talking about in terms of the content inconsistency from the old Mock to what is currently showing on the Learn More page. I do not recall where we may have made those changes. However when I look at that a little closer, and think about our "required fields" page, I do not think it is "required" to submit an "operating plan". We'll need to research this as a separate

[2019-11-14 18:48] #673 closed

[2019-11-14 19:13] abdul1234e commented on #1042
Confirmed with angie. She can access fremont-winema.

[2019-11-14 19:14] lisamcmichael commented on #604
I WILL ADD MY CURRENT NOTES HERE, and after we meet today I'll move them.

![image](https://user-images.githubusercontent.com/52501060/68888515-16546e00-06e9-11ea-946d-c910181429b0.png)

[2019-11-14 19:27] lisaredux commented on #532
@ASprinkle OK, here are both mockups...

@briandavidson @mtlaney  I grabbed the the hint text class from Xmas trees, and it is "usa-form-hint"

Non-commercial: "Your application will be saved once it is submitted. You won't be able to save the application to complete it later."

![Screenshot 2019-11-14 14 18 23](https://user-images.githubusercontent.com/26801590/68888878-c4f8ae80-06e9-11ea-87cc-7c

[2019-11-14 19:29] ASprinkle commented on #532
@lisaredux awesome!

[2019-11-14 19:45] lisamcmichael commented on #604
Consider how we can break this story out into more manageable/edible chunks.

Here are some ideas:
One story
Refine story with SMEs
Brainstorm ideas around a landing page (portal) expectation

One Story
Wireframe design option based on previous story research
Review option with dev for feasibility considerations
Schedule tests

One Story
Refine Wireframe based on dev considerations
Finalize mock w

[2019-11-14 19:51] ASprinkle commented on #604
Folder for documentation around this Epic is created in Pinyon in the Content 2019 folder. https://usfs.box.com/s/v866vdkg4oxz8sscytu1ar0y6skve3wj

[2019-11-14 20:40] lisamcmichael opened #1051 "As an Open Forest customer, I'd like an initial landing page research completed to ensure that I can find what I need easily and efficiently."
## Notes
See EPIC #604

## Acceptance Criteria
- [x] We have an understanding of what would be important to users when they arrive at a future Open Forest landing page.
- [x] We have the information documented in an easy to find location.

## Tasks
- [x] Define research approach(s)
     - [x] Pick research approach (researcher, designer and PO) see #604 "Bargain UX"
- [x] Create interview question

[2019-11-14 20:45] lisamcmichael opened #1052 "As an Open Forest customer, I want to have clickable wireframe design to test later so that I feel good about the main landing page approach."
## Notes
See Epic #604
Depending on what we learn in user interviews #1051, a card sort activity may be needed to inform wires.

## Acceptance Criteria
- [x] We have a completed landing page wireframe ready for testing with users.

## Tasks
- [x] Review synthesized results from #1051
- [x] Wireframe a design based on those results.
- [x] Review the wireframe with dev for feasibility considerations

[2019-11-14 20:46] mwreiss commented on #1042
@abdul1234e  Thanks Abdul!

[2019-11-14 20:47] lisamcmichael opened #1053 "As an Open Forest customer, I want to test the main landing page wireframe so that I can provide input on what's important to me."
## Notes
See Epic #604
This story is dependent on the completion of #1122

## Acceptance Criteria
- [x] Tests are completed.
- [x] Results are synthesized and saved in an easy to find location.
- [x] We know whether or not we need to make changes to the wireframe.

## Tasks
- [x] Test wireframe with users
- [x] Synthesize user feedback/test results
- [x] Connect with Shadat regarding the geospatia

[2019-11-14 20:49] lisamcmichael opened #1054 "As an Open Forest customer, I want an Open Forest landing page that is well designed and functions properly."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [ ]

## Tasks
- [ ] Finalize mock design
Build mock up
- [ ] PO approved

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested

[2019-11-14 20:50] lisamcmichael opened #1055 "As an Open Forest customer, I want the Open Forest landing page to work smoothly."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [ ]

## Tasks
- [ ] Test
Refine
Launch
- [ ] PO approved

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested

[2019-11-14 20:51] mwreiss commented on #1042
@ASprinkle @abdul1234e  sounds like this was due to an inconsistency in code vs whitelist.  Do we need to validate for future forest additions?  Side note: This will be resolved in the future with the EEMS roll out for role management.

[2019-11-14 22:06] ASprinkle commented on #604
@lisamcmichael @lisaredux @Rebekah-Hernandez I completed an initial refinement/updates for all of the stories associated with this epic.

[2019-11-14 22:39] ASprinkle opened #1056 "As an MBS Admin I would like to see updated maps and rules and guidelines to restrict research areas so that people don't get trees there."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [x] The Skagit Area map is updated
- [x] The Where to cut your tree section is updated
- [x] The Rules and Guidelines page is updated
- [x] The emailed rules and guidelines have the updated information.

## Tasks
- [x] Replace the current Skagit Area map (Revised 11/2013) on the website with the one at

[2019-11-14 22:47] ASprinkle commented on #1056
This story is blocked waiting on a final update from the MBS for another potential change.

[2019-11-15 15:38] ASprinkle commented on #1056
Unblocking - I confirmed with Rebecca on the MBS that there won't be any more update requests to the MBS page.

[2019-11-15 16:19] lisaredux commented on #530
@ASprinkle Thanks for clarifying. Oops, yeah — complete space out on the correct page yesterday. Here is the update....

Noncommercial Learn More page
https://open-forest-staging.app.cloud.gov/mbs/applications/noncommercial-group-use/learn-more

Add: "It may take approximately 20-30 minutes to complete this online application."

<img width="1062" alt="Screenshot 2019-11-15 11 11 59" src="https://u

[2019-11-15 16:28] ASprinkle commented on #530
@lisaredux  Did you see the document I added in my comment above? ^

[2019-11-15 17:07] abdul1234e commented on #1042
Confirmed with terri jump. she can see one forest Okanogan-Wenatchee in her portal.  I still need to confirm with two more users and it should be good to done.

[2019-11-15 17:12] lisaredux commented on #530
Thanks @ASprinkle— oops again. Hopefully 3rd times a charm....

Noncommercial Learn More page
https://open-forest-staging.app.cloud.gov/mbs/applications/noncommercial-group-use/learn-more

Add: "It may take approximately 20-30 minutes to complete this online application."

<img width="1095" alt="Screenshot 2019-11-15 11 50 00" src="https://user-images.githubusercontent.com/26801590/68961679-e96392

[2019-11-15 18:57] lisamcmichael commented on #984
@Rebekah-Hernandez I've been looking at your notes, getting my thoughts together on it. I have time after standup to chat about it.

[2019-11-15 18:59] ASprinkle opened #1057 "As an MBS SU customer I want to know that the site has been reviewed for consistency and plain language so that I can understand what I am readingfollow up"
## Notes
* What are things we should consider when making this story *

All notes from this review are housed here: https://usfs.box.com/s/r8ov6bksk35oedbtydy5mq7t6sip50ry

## Acceptance Criteria
- [x] We have an understanding of what's needed to reach MVP
- [x] We have an understanding of what's needed to enhance the site.

## Tasks
- [x]  Schedule time to review the SU customer experience
- [x]

[2019-11-15 19:09] ASprinkle commented on #1057
First meeting is scheduled for Tuesday 11/19

[2019-11-15 19:14] lisamcmichael commented on #981
@mtlaney , I couldn't hear what you said on today's standup (poor audio). Let me know what you came up with. Thx!

[2019-11-15 19:36] ASprinkle commented on #1043
Adobe prep session scheduled with Eric 11/18

[2019-11-15 20:53] lisamcmichael commented on #984
I'm not sure @Rebekah-Hernandez if I'm on the right track with the input I left on the pinyon doc. I'll look at the story again early next week. Cheers.

[2019-11-15 21:21] ASprinkle opened #1058 "As an Admin for Umatilla, I would like the vendor information updated so that people know where else they can go to get permits."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [x] The umatilla NF vendor link takes the user to the Umatilla NF Christmas Tree page where they can navigate to a brochure, or other information.

## Tasks
- [x] Update the "Local Vendors" link in the contact us section to take the user to this location:  https://www.fs.usda.gov/detail/umatilla/passes

[2019-11-15 22:21] lisaredux commented on #966
@ASprinkle here are some updates:

on previously submitted application page... "return to home"

 ![966-home-button-inprocess](https://user-images.githubusercontent.com/26801590/68979370-568c1d00-07cb-11ea-9266-bf6da080280f.png)

and on the feedback page:

"return to previous page" because we won't know where they came from exactly, and previous page seems more catch-all than saying _return home_

[2019-11-15 22:40] ASprinkle commented on #966
@lisaredux I think that "return to previous page" option for the feedback tool is great! Do we know if that is something that dev can do?

For the "non profits r us" screen shot. Where would "Return to home" take the customer who logged in to view the details of their application? I think we would want them to easily "Return to view applications", here:
![image](https://user-images.githubuserconte

[2019-11-15 22:56] ASprinkle opened #1060 "As a permit administrator for the MBS I'd like special uses admin access in Open Forest so that I can review applications."
## Notes
We want to make sure MBS special uses admins are added to the system so that there is not a "one-person" bottleneck for application reviews.
We also want to make sure that MBS special uses administrators can receive the email notifications when applications are submitted to the Open Forest system.

## Acceptance Criteria
- [x] We've confirmed that MBS administrators have access to the Ope

[2019-11-15 23:00] ASprinkle commented on #1060
The following people who should have admin access for MBS special use permits. These people will also need to receive email notifications when applications are submitted.
sue.shermanbiery@usda.gov
orlando.garcia@usda.gov
brian.lee@usda.gov

The following people should have admin access to view PROD information in Open Forest for special uses, but should not be on an automatic email list for submit

[2019-11-15 23:43] ASprinkle commented on #1040
Here is a screen shot flow that I was able to capture from a purchase I made on my cell phone:
![Screenshot_20191115-150919_Chrome](https://user-images.githubusercontent.com/33435621/68983149-8f71c500-07be-11ea-9bb4-f100801d4c60.jpg)
![Screenshot_20191115-150931_Chrome](https://user-images.githubusercontent.com/33435621/68983155-94cf0f80-07be-11ea-9f26-c820e26ce8e8.jpg)
![Screenshot_20191115-15094

[2019-11-18 19:19] ASprinkle opened #1064 "As a Regional FS Special Use Admin, I would like to be added to to see information, but would not like to receive email notification so that I am not overwhelmed with information."
## Notes
* What are things we should consider when making this story *
We also want to make sure that MBS special uses administrators can receive the email notifications when applications are submitted to the Open Forest system.

The following people should have admin access to view PROD information in Open Forest for special uses, but should not be on an automatic email list for submitted applica

[2019-11-18 19:23] smahmudFS commented on #679
We are meeting with Mark Awad and Xin on 11/20 to discuss

[2019-11-18 19:38] lisamcmichael commented on #984
@Rebekah-Hernandez  Could you get us together this week for a check-in meeting? Thx!

[2019-11-18 21:13] ASprinkle commented on #530
@lisaredux  this looks great!! :)

[2019-11-18 21:19] abdul1234e commented on #1042
Confirmed with cara that she can access her forest.

[2019-11-18 22:00] ASprinkle commented on #1042
Thanks @abdul1234e  great work on getting this done!  It's a lot to round all this stuff up and make sure it's working. I am glad you were able to get a hold of everyone in timely manner :)

[2019-11-18 22:12] ASprinkle opened #1066 "Willamette NF , add Mt. Hemlock to species list, combine 5 needle pines prohibited"
## Notes
* What are things we should consider when making this story *
Our silviculturalist had a look at the website and has interest in seeing Hemlock as a cut species on that list. It looks like Western hemlock is on the “Identifying tree species” section the MBS, so I would imagine it would not be hard to add it to the Willamette.
They also mentioned that they would like to see Sugar pine as a

[2019-11-19 00:27] ASprinkle commented on #1058
@briandavidson @mtlaney
I merged the pull request for this story earlier today, and at stand up it was mentioned that I should be able to see it on staging... However, when I go to the staging site, this is what I see (window inset) when i click on the local vendors link for the Umatilla NF.

![image](https://user-images.githubusercontent.com/33435621/69105445-1bcef280-0a20-11ea-88af-7dc6de7b2c92.

[2019-11-19 00:30] ASprinkle commented on #1043
Demo follow ups won't be scheduled right now. Plan: record demo, and offer demo of portions of the SU site during sprint reviews.

[2019-11-19 14:38] mtlaney commented on #1058
@ASprinkle check again when you get a chance, when I log onto staging it's taking me to the correct URL.

[2019-11-19 17:28] ASprinkle commented on #1058
![image](https://user-images.githubusercontent.com/33435621/69170393-dd344900-0aae-11ea-9de7-bb92913e6b5c.png)

@mtlaney thanks, it's working! :)

[2019-11-19 19:27] Rebekah-Hernandez commented on #984
@lisamcmichael we can do a check-in meeting. I'm not sure how to check schedules and see when the best time is. Is that on Outlook?

@ASprinkle I also added a couple more notes to the pinyon doc and using the outline I had created, flushed out a bit more of what could go in the wiki. Both of you are welcome to take a look at that.

[2019-11-19 20:45] ASprinkle opened #1067 "SPIKE As an applicant, I want to understand expectations if I think my activity will have less than 75 people."
## Notes

Currently, the non-commercial group use application process will not let the user submit an application if the total number of participants and spectators is less than 75.

MBS states that they have some areas on their forest where they require people to get a NCGU permit even if their group is less than 75.

We want to make sure we have an understanding of the occurrences of permits for

[2019-11-19 21:12] lisamcmichael commented on #984
@Rebekah-Hernandez The "scheduling assistant" part of Outlook should show our availability.  Maybe Thr. or Friday? I'll take a look at the updates. Thx!

[2019-11-19 21:14] lisaredux commented on #966
@ASprinkle Here's the update:

1- Mock up Learn More Page breadcrumb (for both non-comm and temp OG):
_Mt. Baker-Snoqualmie special use permits / Learn more_
https://open-forest-staging.app.cloud.gov/mbs/applications/noncommercial-group-use/learn-more
https://open-forest-staging.app.cloud.gov/mbs/applications/temp-outfitters/learn-more

<img width="1153" alt="Screenshot 2019-11-19 10 55 08" src="h

[2019-11-19 21:40] ASprinkle commented on #966
@lisaredux  those mock ups look great! thanks!! this is ready for dev now.

[2019-11-19 21:53] lisaredux commented on #566
@ASprinkle - @briandavidson and I just talked about this. We found two fixes that need to change from the 3 forms, and Brian is handling that now.

Otherwise, I'm including screenshots for DEV reference on where to put the "_required fields *_" introduction now on Christmas trees and special uses forms:

![Screenshot 2019-11-19 16 22 55](https://user-images.githubusercontent.com/26801590/69189750-

[2019-11-19 22:00] ASprinkle commented on #566
@lisaredux @briandavidson Awesome! :) great update!

[2019-11-20 15:14] smahmudFS commented on #679
## Notes
It looks like we **OF** flows for when the contact is a "person" or an "organization". The difference is the contact id for an organization is the organization name, whereas for a person it is `lastname,firstname`.

## Findings
- The current flow is the following:
  - **OF** queries **SUDS** contacts by last name
  - **OF** filters the **SUDS** contacts by contact id
  - If there are no m

[2019-11-20 18:16] lisamcmichael commented on #604
Folder for documentation around this Epic is created in Pinyon in the Content 2019 folder. https://usfs.box.com/s/v866vdkg4oxz8sscytu1ar0y6skve3wj

[2019-11-20 18:51] ASprinkle commented on #966
@ASprinkle  will create a separate story to capture the tasks related to the Return Home/Previous Page function on the feedback screen.

[2019-11-20 18:57] ASprinkle opened #1070 "As a visitor giving feedback, I want to be able return to the page that I was previously at if I choose to abandon submitting feedback, so that I can continue on my path."
## Notes
* What are things we should consider when making this story *

Users should be given the option to go to their previous page from the feedback screen, instead of the Return Home option, if they choose to abandon giving/submitting feedback.

## Acceptance Criteria
- [x] Users have the option of returning to their previous page from the give feedback screen without using their browser back

[2019-11-20 18:58] ASprinkle commented on #1070
@lisaredux  Give Feedback Return to Previous Page Mock Up:

Redesign the Return Home option on the Give Feedback page
https://open-forest-staging.app.cloud.gov/feedback

<img width="742" alt="68979403-74f21880-07cb-11ea-8cf3-5dd00444ce82" src="https://user-images.githubusercontent.com/26801590/69186942-8bf47b80-0ae7-11ea-980c-3f42d9a191f4.png">

[2019-11-20 19:15] ASprinkle commented on #679
We know that the contacts module in SUDS is an issue.  We can follow up with SUDS moderination team for the SUDS redesign considerations. We know going into the pilot that there are risks associated with contact information overriding other matching  contacts.  We will communicate this to the MBS, so that expectations are clear.

[2019-11-20 19:36] ASprinkle commented on #1056
These updates look good @mtlaney
![image](https://user-images.githubusercontent.com/33435621/69271555-e7774580-0b89-11ea-8cf6-bb788057e63d.png)
![image](https://user-images.githubusercontent.com/33435621/69271562-ea723600-0b89-11ea-9dca-e4617f4c0ac5.png)
![image](https://user-images.githubusercontent.com/33435621/69271577-ee05bd00-0b89-11ea-96fa-bb417040b07c.png)
![image](https://user-images.githu

[2019-11-20 19:41] ASprinkle commented on #1038
Success! the updates are working in staging! @briandavidson
![image](https://user-images.githubusercontent.com/33435621/69271987-b4818180-0b8a-11ea-8ede-568556fe2f6d.png)
![image](https://user-images.githubusercontent.com/33435621/69271994-b77c7200-0b8a-11ea-9048-b8b071f48b5b.png)

[2019-11-20 20:03] ASprinkle opened #1071 "As an Admin for MBS, I would like the vendor information updated so that people know where else they can go to get permits."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [x] The MBS vendor link takes the user to the forest Christmas Tree page where they can navigate to a brochure, or other information.

## Tasks
- [x] Update the "Local Vendors" link in the contact us section to take the user to this location:
https://www.fs.usda.gov/detail/mbs/passes-permits/forestprod

[2019-11-20 23:18] ASprinkle opened #1074 "SPIKE MBS special uses permits to SUDS timing restrictions"
## Notes
* What are things we should consider when making this story *

Brian Lee is asking: regarding the timeframe that applicants can apply. I know the minimum lead time is 3 days, but is there a maximum set? Last time I tried to issue a permit well in advance, I do not believe SUDS would let me go further than 6 months in advance. If we are to respond to applications within 48 hours and (if ap

[2019-11-21 00:27] ASprinkle commented on #563
We learned from SPIKE #981 that we will not be able to build a 508 compliant calendar pop up into the SU system in time for MVP Dec. We are keeping this story in the icebox so that we can build this feature later.

[2019-11-21 16:26] lisamcmichael commented on #604
**An initial concept from Dawn** in collaboration with Melissa, @lisaredux and Jennifer.

![Open Forest Landing _d blancard](https://user-images.githubusercontent.com/52501060/69356596-b3ffee00-0c51-11ea-926c-dedb744a31fb.png)

[2019-11-21 16:33] lisamcmichael commented on #604
@ASprinkle and @lisaredux I will pull out relevant "key" research findings to support the design direction we should take and have that ready by Monday. For instance, prior research supports including a Search feature; this is because the common user behavior is to go directly to Search (typically Google) to find the "right thing". That's a bit of a sidebar, although this is the type of thing we s

[2019-11-21 16:43] lisaredux commented on #604
Thanks for pulling that up, @lisamcmichael . Just an FYI, Dawn was the only one working on that design concept.

Today, I'll work on testing a collaborative format for our design side - Sketch or Figma or whatever works. And I'll look at whether I can connect with DEV's side to create an interactive branch in Github for design tinkering.

Looking forward to our discussions about it tomorrow.

[2019-11-21 17:21] ASprinkle commented on #981
Primary issue with existing tools research is that We are able to find compliant calendars in the wrong language (java script not angular/type script), or we can find non-compliant calendars in the correct language.
Time to build: We can build - but would need to rewrite many lines of code (~1k) in order to add it.
https://www.w3.org/blog/wai-components-gallery/widget/datepicker/
Same as above: ht

[2019-11-21 19:03] lisamcmichael commented on #984
@Rebekah-Hernandez Replied to your input...see you all tomorrow!

[2019-11-21 19:42] ASprinkle commented on #679
Potential issue RE over write existing SUDS information.
Potential issue RE FMMI customer code if customer information is over written for future permit types.

[2019-11-21 19:57] aaronburk commented on #1067
this is interesting story because we have done a lot of work on this, I am curious of why that we can keel the general guidance of 75 people is likely a national policy.  This is also part of the early "How do I know if I need a permit" wizard part of the app.  They may also need reconsideration??   May need to discuss further with national rec??

[2019-11-21 21:01] ASprinkle commented on #1067
@aaronburk so, perhaps this is a case of the Forest is operating outside the boundaries of FS direction?  There are two areas on the MBS where they require NCGU permits no matter the group size.  Perhaps, we do not need to change this function on the site - and can address it differently, and see how the season goes.

[2019-11-21 21:34] ASprinkle commented on #1067
Amber and Aaron are pairing on this issue before prioritizing

[2019-11-21 23:59] ASprinkle commented on #1057
@lisamcmichael I renamed this, removing the SPIKE note. this story will take a while to complete I think..

[2019-11-22 00:41] ASprinkle opened #1076 "(MVP) As an SU Applicant, I'd like to be able to input my email address with upper-case characters"
## Notes

This is the same issue from story #1019 - where it appears the issue was resolved only on the Christmas tree platform.

It appears the same instance is occurring in the non-commercial group use and in the temporary outfitting and guiding application pages.
![image](https://user-images.githubusercontent.com/33435621/69388506-e0316400-0c7d-11ea-8efa-a7f8f0517637.png)

## Acceptance Criteri

[2019-11-22 18:24] ASprinkle commented on #566
@briandavidson @lisaredux I see what looks like some required fields in Special Uses that don't have asterisk, but appear to be required for "Individuals" Liability Insurance, Certificate of Good Standing.
![image](https://user-images.githubusercontent.com/33435621/69450533-37811400-0d12-11ea-9ac1-8a0efef0eb45.png)
![image](https://user-images.githubusercontent.com/33435621/69450539-3b149b00-0d12-

[2019-11-22 18:51] lisaredux commented on #984
Thanks for the meeting @Rebekah-Hernandez @ASprinkle @lisamcmichael.
Here are the updates for review:

**FEEDBACK FORM**
https://open-forest-staging.app.cloud.gov/feedback

Modified h1-sub: _Tell us what you like about the website
or what we can be doing better._

New hint text:  _Your feedback is anonymous. If you have questions, or would like a response, email us at SM.FS.OpnFrstCsSup@usda.gov._

[2019-11-22 19:11] briandavidson commented on #566
@ASprinkle / @lisaredux where do we want to put the `*` for these?

[2019-11-22 21:14] ASprinkle commented on #984
@lisaredux Those mock ups looks great! thanks all for the meeting today. I consider these updates ready for Dev. I will create a separate story specific to the dev piece for updating the feedback page.

[2019-11-22 21:45] ASprinkle opened #1080 "As an Open Forest visitor providing feedback I'd like to know what to expect when I submit my feedback so that I feel good about providing it."
## Notes
We have a design from Story #984 that is ready to implement.
https://github.com/USDAForestService/fs-open-forest-platform/issues/984#issuecomment-557649339

## Acceptance Criteria
- [x] Users can see on the feedback page that they if they want a response, they'll need to email the team
- [x] Users know their feedback is anonymous

## Tasks
- [x] Build the completed design for the feedback

[2019-11-22 21:54] ASprinkle commented on #1070
@briandavidson the return to previous page in staging does not seem to work in all instances...
For example (I did not test all, but for the ones I did test), if a User is on the "Christmas tree cutting rules" page, clicks Give Feedback and then decides to abandon that and  "Return to previous page", they are not presented with the Rules information, instead they are taken to the "Buy a Christmas

[2019-11-22 22:11] briandavidson commented on #1070
Ah okay, I see what's going on. It looks like it is going to the correct page but isn't remembering which section of the page you were viewing. Nice catch @ASprinkle ! I'll have this patched up asap.

[2019-11-22 22:43] lisaredux commented on #566
thanks @briandavidson — I'll tackle a mockup now

[2019-11-22 22:52] ASprinkle commented on #1067
[EmailChain with MBS RE_ Less than 75 people.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/3881734/EmailChain.with.MBS.RE_.Less.than.75.people.pdf)
[Email Chain with MtHood and CRGNSA RE_Less than 75 people.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/3881736/Email.Chain.with.MtHood.and.CRGNSA.RE_Less.than.75.people.pdf)

[2019-11-22 22:53] ASprinkle commented on #1067
Scheduled a meeting with MBS for 11/25 @1300 PST to complete the follow up w/MBS task.

[2019-11-22 23:26] ASprinkle commented on #1074
[SUDS TimingRestriction Spike1074.docx](https://github.com/USDAForestService/fs-open-forest-platform/files/3881776/SUDS.TimingRestriction.Spike1074.docx)

[SUDS AuthID Spike1074.docx](https://github.com/USDAForestService/fs-open-forest-platform/files/3881819/SUDS.AuthID.Spike1074.docx)

[2019-11-22 23:34] ASprinkle commented on #1074
No follow up items needed or identified.

[2019-11-23 16:05] ASprinkle opened #1081 "As a customer providing feedback I would like to know what my limitations are, and I would like to be able to provide more text so that I can give all my feedback."
## Notes
* What are things we should consider when making this story *
Currently the text box allows very few characters, and not enough to fill up the size of the text box provided.
![image](https://user-images.githubusercontent.com/33435621/69481713-6a85df00-0dc8-11ea-897b-ff3e5a6946ac.png)

## Acceptance Criteria
- [x]  The customer can enter many characters into the text box, filling up the si

[2019-11-23 16:14] ASprinkle commented on #1081
As examples:
Temp Outfitting and guiding character error:
![image](https://user-images.githubusercontent.com/33435621/69481787-2ba45900-0dc9-11ea-8aad-fb124513190c.png)

Non-commercial group use character error:
![image](https://user-images.githubusercontent.com/33435621/69481792-352dc100-0dc9-11ea-959b-60b587bda319.png)

[2019-11-25 16:25] lisaredux commented on #566
@ASprinkle @lisamcmichael I tackled this two different ways... feel free to weigh in which makes the most sense

First option, next to the button...
<img width="760" alt="Screenshot 2019-11-25 11 10 20" src="https://user-images.githubusercontent.com/26801590/69558077-9eeace00-0f75-11ea-9853-06f046d3e956.png">
<img width="477" alt="Screenshot 2019-11-25 11 08 03" src="https://user-images.githubuser

[2019-11-25 16:53] ASprinkle opened #1082 "As a customer I'd like to be able to specify that a permit is a gift so that the recipient knows what's going on."
## Notes
* What are things we should consider when making this story *

2019 Season, we received a customer issue that an individual received a permit to their email address with their name on it, but never make a purchase.

-Need to follow up with Customer Support as to whether or not this issue was resolved, what the resolution was.

## Acceptance Criteria
- [ ]

## Tasks
- [ ]
- [ ] PO approved

[2019-11-25 17:15] ASprinkle opened #1083 "SPIKE find out how "Cloning (Legacy Test and Development Environments)" may impact our SUDS tests/dev."
## Notes
We received and email: " Cloning  (Legacy Test and Development Environments) scheduled for December 2 through December 6, 2019 (system)"

## Acceptance Criteria
- [ ] We understand how this update may impact our dev/test environments as we continue building on the special uses platform.

## Tasks
- [ ] Research to find out how this cloning may impact our tests.
- [ ] PO approved

## Defin

[2019-11-25 17:16] lisaredux commented on #984
@mtlaney @briandavidson This is ready for DEV. See mockups above

[2019-11-25 17:19] #1071 closed

[2019-11-25 17:20] #1038 closed

[2019-11-25 17:20] #1056 closed

[2019-11-25 17:20] #1058 closed

[2019-11-25 17:21] #1042 closed

[2019-11-25 17:21] #899 closed

[2019-11-25 17:22] #371 closed

[2019-11-25 17:22] #1033 closed

[2019-11-25 17:23] #1016 closed

[2019-11-25 17:27] #467 closed

[2019-11-25 17:27] #1043 closed

[2019-11-25 17:27] #679 closed

[2019-11-25 17:28] #981 closed

[2019-11-25 17:28] #1074 closed

[2019-11-25 17:38] ASprinkle commented on #1070
@briandavidson I went in and checked the interaction this morning. It looks like when I choose to give feedback on the Rules and Guidelines page, and then I select the "return to previous page" option, I am taken to the "Buy a Christmas tree permit" page where I will need to re-enter all of my tree info again, before I can view the rules and guidelines to proceed with my purchase.  I think this is

[2019-11-25 18:09] ASprinkle commented on #1083
email from Matt: The last cloning didn’t affect the API, so we should be OK.

[2019-11-25 18:09] #1083 closed

[2019-11-25 18:48] ASprinkle commented on #1067
**response from Brian Lee:**
_Currently, I already have 3 requests for Gold Creek Pond in 2020 – outside of the 180 day window SUDS allows.

Last year, I had perhaps 15 requests between the 2. The numbers have been going up every year.

Gold Creek Pond may be going back to the Okanogan-Wenatchee, but I haven’t seen the official letter stating that yet._

[2019-11-25 18:48] lisamcmichael commented on #1051
@ASprinkle I have updated tasks so that I can present two options for our research approach. After today's call, we may need to revise tasks and/or story #604.

[2019-11-25 19:57] carlsonem commented on #1076
This has been resolved on Christmas Tree, would expect it to be similar work

[2019-11-25 20:38] ASprinkle commented on #1051
@lisamcmichael  I added "Determine interview questions - goals/outcomes from interviews"

[2019-11-25 21:22] ASprinkle commented on #1067
![image](https://user-images.githubusercontent.com/33435621/69578722-eb3e0a00-0f85-11ea-9c4c-5806be2386e5.png)
Your activity may not require a permit. Contact your local forest office for details.

![image](https://user-images.githubusercontent.com/33435621/69578844-217b8980-0f86-11ea-9b5a-9d9deb9549e9.png)
something like this: "According to the regulation, permits are required for 75 or more peop

[2019-11-25 21:51] ASprinkle opened #1084 "(MVP) As an SU applicant I'd like to know what to do if I'm in the NCGU application with less than 75 people, so that I don't feel lost."
## Notes
* What are things we should consider when making this story *
Spike #1067 provides more context and background to the development of this story.

## Acceptance Criteria
- [x] The applicant is informed that (per regulation) a permit is not required if they have less than 75 people. However, they should contact their local forest if they are planning a large group gathering so that their lo

[2019-11-26 16:03] lisamcmichael commented on #604
_Meeting with Aaron/Amber/Lisa S to discuss research approach to take:_

- Bargain UX most feasible due to budget constraints
- Lisa S: she needs to know the scope of information to design prototype
- Aaron/Amber: design a landing page that is going to work for the next 2 yrs.? Then it will be revisited.
- Amber:  Also considering an in-person Retro w/pilot forests, to help align w/ Gifford-Pincho

[2019-11-26 17:11] briandavidson commented on #566
@ASprinkle , @lisamcmichael , @lisaredux , any decisions on how we want to treat this?

[2019-11-26 17:18] briandavidson commented on #1070
@ASprinkle I don't know of any straightforward way to preserve the partially completed form data. I don't want to say it can't be done because I'm fairly sure it can, but it would take some pretty unconventional techniques and would be a much bigger undertaking than the initial scope of this ticket.

[2019-11-26 17:46] lisamcmichael commented on #566
**The UI pattern seems to be adding it next to the label** (especially when there is not a header/form field.) I would go w/ the pattern. @lisaredux would you agree?

[2019-11-26 17:49] lisaredux commented on #566
Yes. I agree @lisamcmichael. Thanks for your input.

@briandavidson thanks for your patience. We will go with this placement for the astericks as shown in these screenshots:
![](https://user-images.githubusercontent.com/26801590/69558084-9f836480-0f75-11ea-9d1c-c096629c9803.png)

![](https://user-images.githubusercontent.com/26801590/69558081-9f836480-0f75-11ea-99d3-9ab99bb97c11.png)

[2019-11-26 18:53] ASprinkle commented on #1070
Ok understood. saving data would be another story. let's keep moving with what we have for now, especially since we've got a good understanding of the interaction.  thanks Brian!

[2019-11-26 19:07] ASprinkle commented on #1051
@lisamcmichael copying these notes here... too :)

Meeting with Aaron/Amber/Lisa S to discuss research approach to take:

Bargain UX most feasible due to budget constraints
Lisa S: she needs to know the scope of information to design prototype
Aaron/Amber: design a landing page that is going to work for the next 2 yrs.? Then it will be revisited.
Amber: Also considering an in-person Retro w/pilot

[2019-11-26 19:17] ASprinkle opened #1087 "SPIKE Customer Service issues related to printing from confirmation page and customer receiving no emails (spam, junk, inbox)."
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [ ] We have an understanding of what's going on.
- [ ] We have an understanding of what's needed for next steps.

## Tasks
- [ ] Dev to meet with Customer Service team to gain understanding of customer issues related to printing and receiving emails.
- [ ] Reviewing customer issues related to printing.

[2019-11-26 19:35] ASprinkle commented on #1040
@briandavidson looks great! no 404!
![image](https://user-images.githubusercontent.com/33435621/69666268-d5d9e600-1040-11ea-81b5-0dc391e77e06.png)
![image](https://user-images.githubusercontent.com/33435621/69666283-db373080-1040-11ea-95ec-c34e3bcaad48.png)
![image](https://user-images.githubusercontent.com/33435621/69666292-decab780-1040-11ea-9f00-d4ad6c2c195e.png)

[2019-11-26 19:38] ASprinkle commented on #1057
Amber will pick this back up after the holiday weekend.

[2019-11-27 14:13] lisamcmichael commented on #1051
Updated tasks to match tasks in "Bargain UX" approach

Removed these tasks:
- [ ] Identify users to conduct interviews with
- [ ] Schedule the interviews
- [ ] Complete interviews (one-on-one/"in person" preference vs. survey/email)

[2019-11-27 14:23] lisamcmichael commented on #604
**@lisaredux All research for the landing page Epic is here on Pinyon:**
https://usfs.box.com/s/v866vdkg4oxz8sscytu1ar0y6skve3wj

[2019-11-27 16:04] lisamcmichael commented on #1051
_Here is v1 of interview questions for 18F's field research that starts next week._
https://usfs.box.com/s/jah2pl0ur52a8e0p481j5ibzjlgk53km

[2019-11-27 16:06] lisamcmichael commented on #1051
@lisaredux I added you so we can continue to collaborate on what research findings make its way into the wireframe.

[2019-11-27 16:10] ASprinkle commented on #566
@briandavidson

This is looking really good. Looks like some great communication between Dev and Design.  I have two comments when I review on staging.
It appears that the Liability Insurance and certificate of good standing asterisks are noticeably larger when compared to all the other ones... is there a way to make them the same size as the rest?
Also, i noticed the menu option didn't show the r

[2019-11-27 17:20] abdul1234e commented on #1060
Can i move this to in progress? It will be nice to complete this over the holidays.

[2019-11-27 18:27] briandavidson commented on #566
@ASprinkle yep, we can adjust the asterisk size to match the others. And I'll look into what's up with the Liability Insurance check as well.

[2019-11-27 18:44] lisamcmichael commented on #348
Met in Dev/Design today, and decided that @lisaredux will setup environment and use this story as a test case. She is working with @briandavidson and plans to have an update by Monday/Tuesday.

[2019-11-27 18:51] lisamcmichael commented on #984
@Rebekah-Hernandez asked if @briandavidson could jump on these soon. The feedback content on the feedback form page seems like a low lift, and can start on it. The other notification (blue banner) has a link which might require HTML; that will be a larger lift.

[2019-11-27 19:27] lisaredux commented on #604
- Going to pull up with Brian to get help getting my local environment started.  Hoping to see we can design and mock up in a dev environment using the templates and code
- Sent email to Shadat and Eric to get confirmation on collaborative tool licensing for the design team - Figma or Sketch as a fallback

[2019-11-29 15:48] ASprinkle commented on #1060
@abdul1234e  yes - always good to check in with the team and see if there is any help you can provide for other in progress stories. If not, then having you pull this one in sounds good! thanks!!

[2019-12-02 15:05] lisamcmichael commented on #604
@ASprinkle and @lisaredux, these **research questions** were shared w/ 18F on Thursday. I'm _meeting w/ Melissa and Mark on Wed_. Just "lmk" if you have addt'l questions to include.

https://usfs.app.box.com/file/566822961291

[2019-12-02 15:09] lisamcmichael commented on #1051
**Research questions to hand off to 18F
https://usfs.app.box.com/file/566822961291**

[2019-12-02 16:07] lisamcmichael commented on #604
@lisaredux and @ASprinkle here's an initial set of **info architecture schemes that might be useful for us to consider:**  The article is dated (2010), the insights/recommendations are still applicable and relevant ways to organize information.
https://www.uxbooth.com/articles/classification-schemes-and-when-to-use-them/

**Alphabetic:**
There are only a _couple of situations where you’d use alpha

[2019-12-02 16:39] lisamcmichael commented on #604
@ASprinkle If we do run a _card sorting research activity,_ here's a **2.5 minute video** with details on open vs. closed card sorts. https://www.nngroup.com/videos/open-vs-closed-card-sorting/

_A master list of articles:_
https://www.nngroup.com/search/?q=card+sorting

[2019-12-02 18:38] lisaredux commented on #348
Working on mockups today. Implementing without setting up my local enviroment first

[2019-12-02 18:58] ASprinkle commented on #530
![image](https://user-images.githubusercontent.com/33435621/69986609-9bfe5900-14f2-11ea-985c-dd5402410b4f.png)
![image](https://user-images.githubusercontent.com/33435621/69986613-9e60b300-14f2-11ea-9082-94f29c6959e9.png)

[2019-12-02 19:02] ASprinkle commented on #966
@mtlaney I have some comments related to my review of this story. It looks like there are some places where the breadcrumb is missing...

[2019-12-02 19:04] ASprinkle commented on #566
@briandavidson maybe we can meet up on this today. It looks like I am still seeing the inconsistency on error message
![image](https://user-images.githubusercontent.com/33435621/69987056-80e01900-14f3-11ea-98f2-c827550f66d1.png)

[2019-12-02 19:27] ASprinkle commented on #1081
Discussion during refinement resulted in the decision for 1,000 character limit.

[2019-12-02 23:26] lisaredux commented on #348
@ASprinkle @lisamcmichael Mockups are ready for your review:

**APPLICATION PAGE**
![Screenshot-ApplicationPage-348](https://user-images.githubusercontent.com/26801590/70003385-f0c0c480-1530-11ea-952a-4a68b2c68612.png)

**LEARN MORE PAGE**
<img width="1234" alt="Screenshot 2019-12-02 18 05 06" src="https://user-images.githubusercontent.com/26801590/70003425-1352dd80-1531-11ea-9b90-e87045e65622.png

[2019-12-03 00:16] lisaredux commented on #986
@ASprinkle for your review:
<img width="1100" alt="Screenshot 2019-12-02 19 09 26" src="https://user-images.githubusercontent.com/26801590/70005599-3208a280-1538-11ea-9855-303b77ef2006.png">

[2019-12-03 00:56] ASprinkle commented on #604
@lisamcmichael those videos are really helpful.  Let's schedule some time to follow up and make a decision or get better understand about about first step/path towards IA.  Once we do that I think we can satisfy the task for IA in this story.

[2019-12-03 01:01] ASprinkle commented on #986
Thanks Lisa, Can we remove Application Process from the menu? It's not really a "step" even though it is a header. If we remove Application process, then it will look like your NCGU application can be completed in three easy steps.  What are your thoughts there?

Also, can you include what the check marks and error symbols should appear as for both individual and organization applicants?

[2019-12-03 01:17] ASprinkle commented on #348
@lisaredux  These look great. I notices one typo that I made in the tasks:

The bold font in Client Charges: " Provide a description..." we need the word/letter "a" there.

Also, i noticed that we do not want to create an expectation that they will be charged one of the fees... we want to emphasize that it can be used as an estimate. I think we do that well in the application page given it says "E

[2019-12-03 16:00] ASprinkle commented on #566
@briandavidson can we adjust the asterisk for the certificate of good standing? it is still bigger than the rest.
The Liability insurance one looks good and the error notation in the menu is great!

![image](https://user-images.githubusercontent.com/33435621/70067255-db847e00-15a2-11ea-9bef-ccd69535e47e.png)

![image](https://user-images.githubusercontent.com/33435621/70067265-df180500-15a2-11ea-9

[2019-12-03 16:03] lisaredux commented on #986
@ASprinkle Three steps makes sense. I was debating it myself and removed the Application process from the sidebar in this updated design.

Unfortunately, it's too hard to show the validation in the sidebar the way I have it set up. However, all the validation is already embedded in the DEV's code so it should be foolproof moving forward.

<img width="1064" alt="Screenshot 2019-12-03 10 39 54" src=

[2019-12-03 16:30] ASprinkle commented on #986
Thanks Lisa, this is good to go for Dev. I updated the Tasks above to specify building the menu with "validation confirmation/errors".

[2019-12-03 16:34] ASprinkle commented on #984
@lisamcmichael @lisaredux @mtlaney @briandavidson >>>> created #1080 a separate story specific to the dev piece for updating the feedback page.

The rest of this story has to do with writing up information and putting it on the Wiki - as described in the tasks list.

[2019-12-03 16:35] ASprinkle commented on #1080
Copied from #984
Thanks for the meeting @Rebekah-Hernandez @ASprinkle @lisamcmichael.
Here are the updates for review:

**FEEDBACK FORM**
https://open-forest-staging.app.cloud.gov/feedback

Modified h1-sub: _Tell us what you like about the website
or what we can be doing better._

New hint text:  _Your feedback is anonymous. If you have questions, or would like a response, email us at SM.FS.OpnFrs

[2019-12-03 16:53] ASprinkle commented on #984
@Rebekah-Hernandez can you help post the following information on the Wiki? I updated the Pinyon doc too (everything pasted here is highlighted yellow in the pinyon doc). We can title it Feedback Tool, and nest it under the How We Work menu option.

_At Open Forest, we are always looking for ways to improve our work. The Open Forest team developed the feedback tool so that people using the site co

[2019-12-03 16:57] lisaredux commented on #348
@ASprinkle here are the updated designs

@briandavidson @mtlaney ready for DEV

**TEMP OUTFITTERS APPLICATION PAGE**

![Story348-TempApply](https://user-images.githubusercontent.com/26801590/70071622-9fade080-15c3-11ea-957a-255c506c0765.png)

**TEMP OUTFITTERS LEARN MORE PAGE**

<img width="1169" alt="Screenshot 2019-12-03 11 57 06" src="https://user-images.githubusercontent.com/26801590/70071921-

[2019-12-03 17:58] ASprinkle commented on #604
Follow up on IA scheduled for 12/9

[2019-12-03 18:58] ASprinkle commented on #566
awesome!
![image](https://user-images.githubusercontent.com/33435621/70080632-c536ec00-15bb-11ea-915a-b8dd4d25f297.png)

[2019-12-03 19:27] ASprinkle commented on #984
@Rebekah-Hernandez I reviewed the write up in the Wiki at this link. I made a few edits. Can you build the menu option for Feedback Tool under How We Work, and make it live?

[2019-12-03 19:33] ASprinkle commented on #984
Live on the Wiki https://github.com/USDAForestService/fs-open-forest/wiki/Feedback-Tool

[2019-12-04 19:12] ASprinkle commented on #1081
@briandavidson I cleared my cache, and this was the result after I hit the "Submit" button.  Instead of getting the  thank you banner I was stuck on the give feedback screen, and the box was highlighted green.
![image](https://user-images.githubusercontent.com/33435621/70172936-aaeb3400-16c9-11ea-9d42-3c4ff0329143.png)

[2019-12-04 19:44] briandavidson commented on #1081
Hey @ASprinkle - our database has a default maximum length of 255 for text strings that I was unaware of. I just made some changes that should override this default and allow use to specify the 1000 character limit we want. It should be up on staging shortly.

[2019-12-04 21:08] ASprinkle commented on #1081
@briandavidson I checked it out in staging, and when I enter 255 characters or less, I am able to successfully submit feedback. However, when I enter greater than 255 characters, I remain stuck on the feedback screen without any error message.   So no matter what character limit we choose, is an error message being built in also, so that a customer know what to do if they enter too much? there is

[2019-12-04 21:14] ASprinkle commented on #530
@mtlaney I reviewed this in prep to move to done.
In Staging: https://open-forest-staging.app.cloud.gov/mbs/applications/noncommercial-group-use/learn-more I see the update, and it looks good.
![image](https://user-images.githubusercontent.com/33435621/70182058-f684ea00-1697-11ea-9a14-38f57128e4c1.png)

However, when I go to the MBS special uses production site https://openforest.fs.usda.gov/mbs/a

[2019-12-04 21:19] ASprinkle commented on #1070
@briandavidson @mtlaney
When I review this story in prep to move it to done, It does not appear that the update made it to production.  Here is a screen shot of the feedback page on production
![image](https://user-images.githubusercontent.com/33435621/70182339-82971180-1698-11ea-8963-15069c298db9.png)

Here is a screen shot of it on the staging site
![image](https://user-images.githubusercontent.

[2019-12-04 21:31] lisamcmichael commented on #1051
@ASprinkle
@lisaredux and I met with Mark and Christine (18F); their field research coming up is with LEOs. They know what we're looking for, even though LEOs are not our primary target. On the upside, Christine will be running remote moderated sessions with the public later this month. I've asked if we can be a fly on the wall for some of those.

[2019-12-04 21:33] ASprinkle commented on #1051
@lisamcmichael  I am looking at the questions in box now... is it an assumption that 18F will be doing the research to inform Open Forest main landing page? or is that what is confirmed happening? I guess I thought 18F was working on firewood product research.  and that we were doing the work for a main landing page.

[2019-12-04 22:14] ASprinkle commented on #1084
![image](https://user-images.githubusercontent.com/33435621/69578722-eb3e0a00-0f85-11ea-9c4c-5806be2386e5.png)
Something like: "Your activity does not require a permit (regulation citation link). However, it may be helpful if you have a large group, to contact your local office to find out about any special restrictions.

![image](https://user-images.githubusercontent.com/33435621/69578844-217b898

[2019-12-05 03:06] briandavidson commented on #1081
@ASprinkle I'm guessing the changes weren't deployed yet at the time you checked. Take another look when you get a chance, I think it's working the way you were expecting now.

[2019-12-05 04:23] abdul1234e commented on #1060
This is completed. lets validate with admin users and move this card further.

[2019-12-05 05:34] mtlaney commented on #530
@ASprinkle I'm assuming it had to do with our deploy failure last night due to space limitations on the api-server. Abdul has corrected and new deployment successfully went thru at 11pm est tonight. If you can, check in the morning for the updated changes :)

[2019-12-05 14:26] lisamcmichael commented on #1051
Hi @ASprinkle - we are piggy backing on 18F research because we're taking the "budget" approach, vs. having user interviews now. With that in mind, whatever we can glean from their research (talking to LEOs, the public and front liners) will help @lisaredux wire-up an initial prototype. After we have a prototype, we'll run usability research and collect input.

Also, Mark and Christine have a soli

[2019-12-05 15:27] lisamcmichael commented on #1051
@lisaredux and @ASprinkle I'm drafting a synopsis of 18F's research shared w/ us from their field research w/ "FLs", and the public. Before we meet on Monday, I'll post it.

[2019-12-05 15:48] ASprinkle commented on #530
@mtlaney thanks!! it's looking great in Prod now!

[2019-12-05 15:55] ASprinkle commented on #566
This is looking really great in Prod, thanks for your work on this @briandavidson

[2019-12-05 16:00] ASprinkle commented on #966
Thanks @mtlaney the breadcrumbs look good. Great work navigating the admin and user view applications pages!
![image](https://user-images.githubusercontent.com/33435621/70251877-377f0c00-1735-11ea-9677-fb0c424aff51.png)

[2019-12-05 16:21] ASprinkle opened #1098 "As a customer who completed the christmas tree permit purchase process I'd like to be directed back to my confirmation page after I choose to give feedback so that I can print my permit after."
## Notes

If a customer chooses to give feedback before printing or saving their permit from the confirmation page, they will not be able to print/view their permit from confirmation page after giving feedback.
This screen shot shows what the customer sees when they return to their previous page after submitting feedback:
![image](https://user-images.githubusercontent.com/33435621/70254332-c262058

[2019-12-05 16:21] ASprinkle commented on #1070
@briandavidson looks great!
![image](https://user-images.githubusercontent.com/33435621/70253552-45825c00-1738-11ea-90c2-823fe7e58d00.png)

[2019-12-05 16:39] ASprinkle commented on #1098
More screen shots of feedback workflow from confirmation page:
![image](https://user-images.githubusercontent.com/33435621/70254851-a01cb780-173a-11ea-8862-9653977dce79.png)
![image](https://user-images.githubusercontent.com/33435621/70254858-a317a800-173a-11ea-9938-f3b52510a274.png)
![image](https://user-images.githubusercontent.com/33435621/70254907-b4f94b00-173a-11ea-86b0-b4cb2e2264ad.png)
![im

[2019-12-05 16:47] ASprinkle commented on #1081
This is working really well! @briandavidson @Dmac26 :)
![image](https://user-images.githubusercontent.com/33435621/70255544-da3a8900-173b-11ea-88a2-c5b1a7498b60.png)
![image](https://user-images.githubusercontent.com/33435621/70255553-dd357980-173b-11ea-8ae7-2c71f06354dc.png)

I was able to submit successfully with up to 1k characters.

[2019-12-05 16:50] ASprinkle commented on #532
Thanks @briandavidson this looks great on staging!

[2019-12-05 17:11] ASprinkle opened #1099 "As a customer who requests a refund or an admin/support POC searching for info, I would like to have access to the information I need so that I can complete the refund process."
## Notes
During the 2019 Christmas tree season, we heard from customers who wanted refunds.
Refund requests were due to errors during payment process in pay.gov that resulted in multiple transactions from the customer, when they intended to be charged only 1 time.

The team met with ASC and CFO group to determine process for customers to obtain refunds.

Open Forest team does not issue refunds, bu

[2019-12-06 00:22] ASprinkle commented on #1057
https://usfs.box.com/s/r8ov6bksk35oedbtydy5mq7t6sip50ry

[2019-12-06 16:15] abdul1234e commented on #1060
confirmed with all 3 users they can get only staging and production.

[2019-12-06 16:18] ASprinkle commented on #1060
Ok, so all three MBS admins have access to the Admin functions with the special uses pages for both the staging site and the production site for the MBS?

[2019-12-06 16:20] abdul1234e commented on #1060
thats correct.

[2019-12-06 16:41] lisamcmichael commented on #1051
@ASprinkle, yesterday Lisa and I met to talk about next steps based on _using the "second hand" 18F research_. Monday, we'll demo the Balsamiq collaborative tool, and go over the research findings/insights I've pulled out of their 2 recently completed studies. **Here is the synopsis:

**![image](https://user-images.githubusercontent.com/52501060/70339590-18f44000-181d-11ea-9c43-3e242f6b4751.png)**

[2019-12-06 22:33] lisaredux commented on #604
Working on wireframes and ideas on shared Balsamiq workspace:
https://balsamiq.cloud/sjnh4c9/pdjueup/r2278

[2019-12-09 15:11] lisamcmichael commented on #1051
@Rebekah-Hernandez  - see above "Open Forest - Research Insights...". I'll share that on our call, and we'll also create next steps.

[2019-12-09 15:41] ASprinkle opened #1102 "As a user I'd like to understand browser compatibility so that I can get my permit easily."
## Notes

As of 12/9/2019 there have been 15 instances in the Feedback report that are related to users not being able to continue to check out.

## Acceptance Criteria
- [ ] We have an understanding of customers browser compatibility issues.
- [ ] We know whether or not we will build in  a notification to non-compatible browser users.

## Tasks
- [ ] Research users response to notification to use

[2019-12-09 17:07] #1067 closed

[2019-12-09 17:07] #984 closed

[2019-12-09 17:07] #1070 closed

[2019-12-09 17:07] #530 closed

[2019-12-09 17:07] #566 closed

[2019-12-09 17:07] #966 closed

[2019-12-09 17:07] #1040 closed

[2019-12-09 17:07] #1057 closed

[2019-12-09 17:07] #1060 closed

[2019-12-09 18:42] ASprinkle opened #1103 "SPIKE Content Update Efficiency Research"
## Notes

This story is a design, UX related SPIKE - We want to learn more about what could be done to improve efficiencies related to content updates for Christmas trees.  What might be needed to achieve an improved efficiency here?

## Acceptance Criteria
- [x] We have an understanding of what is possible to improve efficiencies around content updates for Christmas trees for DEV.
- [x] We have a

[2019-12-09 18:57] ASprinkle commented on #1076
This looks great on staging. I am able to enter upper case and lower case letters and number without error.
![image](https://user-images.githubusercontent.com/33435621/70463907-ac727e80-1a72-11ea-899e-4d44dbd53291.png)
![image](https://user-images.githubusercontent.com/33435621/70463914-b0060580-1a72-11ea-9f1f-fbe9611c6924.png)

[2019-12-09 19:57] lisamcmichael commented on #1103
@ASprinkle Could you identify the 5 forest POCs? I can get the times set up to meet with each of them (sooner than later). 30 minutes should be enough. We could include Rebekah (mentoring).

[2019-12-09 21:18] lisamcmichael commented on #1044
**@ASprinkle or @carlsonem I will need access to the Admin screens to create a "test script". Thx!**

[2019-12-09 21:19] ASprinkle commented on #1103
on it @lisamcmichael

[2019-12-09 21:49] ASprinkle commented on #1103
@lisamcmichael
Christian on the Willamette NF christian.mercado@usda.gov (confirmed available)
Rebecca on the Mt. Baker Snoqualmie NF rebecca.busscher@usda.gov (confirmed available)
Laura on the Arapaho and Roosevelt NF laura.c.shaffer@usda.gov (confirmed, available next week)
Cara on the Mt. Hood NF Cara.Lewis@usda.gov (confirmed available)
Darcy on the Umatilla NF darcy.weseman@usda.gov (emailed

[2019-12-09 22:16] ASprinkle commented on #1044
@lisamcmichael I can share my screen with you during our meeting tomorrow, and give you control to click through. not sure how long it will take to get you added to the admin screens in staging. That is not something that i know how to do. I'll include @abdul1234e @mwreiss here too

[2019-12-10 14:03] lisamcmichael commented on #1044
@ASprinkle That might work. Together, we can identify the major user flows (task flows) as test scenarios.  I'll find time on your calendar.

[2019-12-10 15:06] lisamcmichael commented on #1044
@ASprinkle Abdul is granting access to MBS on staging.

I started **baseline user journeys** for consideration:
_Log in, Log out_
_Generate a report_
  Search
  Select criteria
_Request content changes
Grant access_
  Add user
_Edit access_
  Search
  Remove user
  Select criteria
_Request help (customer support)
Request access
Feedback_

[2019-12-10 15:39] lisamcmichael commented on #1044
@ASprinkle **I have access to MBS on Staging** ... _thx to @abdul1234e ._

[2019-12-10 16:51] ASprinkle opened #1105 "As a special use admin I do not want to be confused by the "cancel application" button when I am viewing application details so that I can easily make a decision."
## Notes
The "cancel application" button feature is a function that should only be available to the applicant who is viewing the details of the application they have submitted.

Having the cancel application button available to the administrator creates some confusion between whether or not they should "cancel" or "reject" an application.  FS admins should only have the option to Accept, Hold, or

[2019-12-10 17:25] ASprinkle opened #1106 "As an potential applicant I want setting up a profile in login.gov to be tested in PROD so that I know it works."
## Notes
* What are things we should consider when making this story *

https://openforest.fs.usda.gov/mbs

## Acceptance Criteria
- [x] Applicants can successfully create a login.gov account, and be routed back to Open Forest application page upon completion of account set up.

## Tasks
- [x] test at least one instance.
- [x] PO approved

## Definition of Done
- [x] A/C and tasks are completed.

[2019-12-10 18:10] lisamcmichael commented on #1044
@Rebekah-Hernandez I met w/ Amber this morning. She will be a tester, and would like you to test as well. I have the test scenarios. I am cleaning them up, and then I'll share with you both.

[2019-12-10 18:27] Rebekah-Hernandez commented on #1044
I'm not exactly sure what being a tester entails. Is that similar to the videos with the front liners where they go through the website with your prompts? Is there anything I need to do to prepare? @lisamcmichael

[2019-12-10 18:37] lisamcmichael commented on #1044
It's simple really, you'll use the test scenarios to test the Special Use MBS site in production, to ensure it works as intended (no bugs or miscues). We'll grab time w/ Amber to sync on this.

[2019-12-10 19:19] ASprinkle commented on #1060
@JonathanLerner54  these are the FS admins at the MBS who would have Admin Access in Open Forest, and also Roles in SUDS.

[2019-12-10 19:22] JonathanLerner54 commented on #1060
Per our conversation at today's working group, we will be establishing a tester role for the ePermits team members.

[2019-12-10 20:44] lisamcmichael commented on #1044
@ASprinkle and @Rebekah-Hernandez, **Test Scenarios are now on Pinyon.**

**https://usfs.box.com/s/ypjzny3htvxodjy4webzld3av6x3brwb**

[2019-12-10 21:55] ASprinkle commented on #1084
@mtlaney
This is looking really great. we've got a small typo though, in the Learn More page: "According to the regulation, permits are required for 75 or more people. However, some forest may have special considerations, contact your local forest if you have questions." we need an "s" at the end of "forests" where it reads "However, some forest"s" may have..."

This story is considered PO approve

[2019-12-10 22:01] ASprinkle commented on #1044
@mwreiss is working on SUDS access for testers. We won't be able to fully execute test case scenarios 1 or 5 until we can confirm SUDS access.

[2019-12-10 22:03] ASprinkle commented on #1044
@carlsonem and @ASprinkle paired on testing Login.gov function in prod for a new customer. We completed test case scenario 3 in that process.

@Rebekah-Hernandez and Amber have time scheduled to pair on tests 12/11/2019

[2019-12-10 22:06] ASprinkle commented on #1106
Amber and Eric paired on this story today. Eric started at https://openforest.fs.usda.gov/mbs then was routed to login.gov to "Apply" for NCGU permit.  Eric successfully created an account, and upon completion was routed to the NCGU application page.

[2019-12-10 23:59] ASprinkle commented on #1044
@lisamcmichael thanks for putting together that great test scenario write up! that will be very helpful!

[2019-12-11 15:22] mwreiss commented on #1044
@ASprinkle  I filled out request forms for you, @Rebekah-Hernandez and I yesterday afternoon.  I haven't received a reply from Anne Hansen about the request.

[2019-12-11 17:26] ASprinkle opened #1108 "SPIKE special uses platform URL"
## Notes
currently the PROD url is: https://openforest.fs.usda.gov/mbs

It may make more sense to create this url so that it indicates the permit platform the user is on:
openforest.fs.usda.gov/special-uses/mbs

## Acceptance Criteria
- [x] We have an understanding of what it would take to update the URL

## Tasks
- [x] research URL update complexities between Open Forest and Login.gov redirects.

[2019-12-11 17:28] ASprinkle commented on #1108
@mtlaney I created this spike based on our chat. I took a stab at tasks and A/C.  @carlsonem FYI follow up from our chat yesterday.

[2019-12-11 17:37] ASprinkle commented on #406
![image](https://user-images.githubusercontent.com/33435621/70645444-dace9600-1bf9-11ea-85b9-b9b94e21fe10.png)

[2019-12-11 17:46] ASprinkle commented on #406
![image](https://user-images.githubusercontent.com/33435621/70646044-000fd400-1bfb-11ea-89b4-6e0bc8385c19.png)

![image](https://user-images.githubusercontent.com/33435621/70646091-10c04a00-1bfb-11ea-81d1-838edbbe364a.png)

[2019-12-11 18:31] lisamcmichael commented on #1103
@ASprinkle The interview guide w/ the Forests, should be a conversation starter. Here are some initial ideas:

- For next season, we want to remove "road blocks" to make it easier to update and manage content on your on your Open Forest site. What would you like to see changed so that it's easier to be a content editor?

- What Open Forest Xmas tree content are you managing and/or updating the mos

[2019-12-11 19:01] lisamcmichael commented on #406
@ASprinkle's input: When the application goes past its start date…(changes status, no longer pending) becomes expired.

[2019-12-11 19:02] lisamcmichael commented on #1103
Notes from today's design/dev pairing:

**Developer input (Brian and Mike) 12.11.19**

- Key question: Not how, but "what" do we want to improve?
		○ Next: Forms (a page on the site to edit forms) a design similar to an application form
		○ Next: design w/ input fields populated (ex: costs, tree species details, cutting areas, etc.) and Admin can update it.
		○ Need: Version control needed (to pre

[2019-12-11 19:44] ASprinkle commented on #604
12/11/2019 Design meeting to brainstorm user journeys to inform IA considerations.

[2019-12-11 20:45] ASprinkle commented on #604
IA options/approaches:  Starting point to be validated with testing:
Search feature option
Location features (city/radius) presenting user with forests and associated services for those forests.
Categories for services with sub categories with features opportunity within each service.
then route customer to appropriate Open Forest information page to being purchase

[2019-12-11 22:36] ASprinkle opened #1109 "As a Fre-Win Christmas tree manager I'd like to be added as an admin so that I can run reports."
## Notes

Annette Shullanberger has been a POC for the Christmas tree program, and we should add Annettee as an administrator for the Fremont-Winema National Forest

## Acceptance Criteria
- [x] We've confirmed that Annette can access the administrator functions for Christmas trees in Open Forest

## Tasks
- [x] Add Annette as an administrator for the Fremont-Winema National Forest annette.shullan

[2019-12-12 11:48] lisamcmichael commented on #1103
@ASprinkle  I emailed 5 forests and "cc" @Rebekah-Hernandez to set up a time with each one.

Christian on the Willamette NF christian.mercado@usda.gov (confirmed available)
Rebecca on the Mt. Baker Snoqualmie NF rebecca.busscher@usda.gov (confirmed available)
Laura on the Arapaho and Roosevelt NF laura.c.shaffer@usda.gov (confirmed, available next week)
Cara on the Mt. Hood NF Cara.Lewis@usda.gov

[2019-12-12 19:10] ASprinkle commented on #1044
Rebekah and Amber paired and Tested case scenarios 2,  4, 6, 7, 8, 9, 10.  Notes here:  https://usfs.box.com/s/p8tqn011wp07lg81jsiy09bgtxnot4er

Testing Accepting to SUDS will take place after current Ready for Master stories are pushed to PROD.

[2019-12-13 00:09] ASprinkle commented on #986
@briandavidson I saw your virtual stand up update. Good call on taking liberties to fix the awkward interactions on the TOG menu.  I looked at what is on staging for the NCGU
I was able to populate the exclamation mark error notes in the menu when trying to submit an application with incomplete information.
![image](https://user-images.githubusercontent.com/33435621/70758940-63802b80-1cf9-11ea-97d

[2019-12-13 15:20] abdul-fs commented on #1064
mike was already admin into mbs in prod. I have added anne and shawnee.

We still need to validate with anne and shawnee to see if they can get on prod without issues.

[2019-12-13 17:14] mtlaney commented on #1108
@ASprinkle after initial research, I believe we can be in the clear to move forward on this. However it is a bit involved, likely an 8 or 13 just because of how many places that URL is going to touch. It will involve a quite a bit of testing before being ready for Prod. However I still think this is an issue we should capture in a story and get the work started.

[2019-12-13 21:30] lisamcmichael commented on #1103
@ASprinkle Quick update...

Completed 2 retro sessions (Rebecca/MBS) and (Jeremy/D/O). Rebekah's notes are uploaded. I took paper notes during both calls, and I'll merge those w/ her notes.

After we complete 5 sessions, we'll clean up notes and create a topline summary.

[2019-12-15 17:23] ASprinkle commented on #1108
@mtlaney Thanks - I don't think we will start work on this right now. This may be a more appropriate piece of work once we start on the landing page.  Since we're planning launch the week of 12/15, I don't think it would be wise to introduce more testing and risk at this point, especially considering what we've got now for a url meets MVP.  @aaronburk  updating the url for special uses will need t

[2019-12-15 17:24] ASprinkle commented on #1108
@mtlaney BTW great work researching that!

[2019-12-16 15:24] ASprinkle opened #1111 "As a public user I want an Open Forest URL that makes sense so that I can get to where I want to go."
## Notes
This is a follow on to SPIKE #1108
This story updates the URL for Christmas Trees and Special Uses, initiating a main landing page URL.
Currently Christmas Tree url is: https://openforest.fs.usda.gov/christmas-trees/forests
and the Special Uses url is: https://openforest.fs.usda.gov/mbs

Currently when someone navigates to openforest.fs.usda.gov they are automatically routed to the Christ

[2019-12-16 15:25] ASprinkle commented on #1108
I created story #1111 as a follow up to this SPIKE.
@mtlaney once you update the documentation task, this story can be moved to "done"

[2019-12-16 15:26] mtlaney commented on #1108
### Currently /mbs is the main route for special use permits (noncommercial and temp).
#### Current nested child routes that would need re-routed listed below:
 - help me pick
 - non-commercial/learn more
 - temp-outfitters/learn more
 - applications
 - applications/noncommercial-group-use/new
 - applications/noncommercial-group-use/:id/edit
 - :type/submitted/:id
 - temp-outfitters/new
 - temp-ou

[2019-12-16 15:29] ASprinkle commented on #1108
Thanks!

[2019-12-16 16:32] abdul-fs commented on #1064
Their admin access if granted and confirmed with users.

Fyi: We have smtp email group added into prod whitelist file. we can review the list and add them into SM.FS.OpenFrstAdm@usda.gov so decided admin will received notifications.
@mwreiss

"name": "smtp-service",
    "credentials": {
      "admins": [
        "SM.FS.OpenFrstAdm@usda.gov",
        "adsprinkle@fs.fed.us",
        "aaronburk@fs.fe

[2019-12-16 17:54] ASprinkle commented on #1064
@mwreiss @abdul-fs Before we add names to a group email list, do we know what the scenarios are that would generate an email to the SM.FS.OpenFrstAdm@usda.gov inbox?
For example:
-Is an email is sent to SM.FS.OpenFrstAdm@usda.gov only when an application is submitted for review?
or,
-Is and email sent to SM.FS.OpenFrstAdm@usda.gov each time an action is taken on an application (i.e., submitted, on

[2019-12-16 18:05] abdul-fs commented on #1064
@ASprinkle @mwreiss I saw emails like submission and cancelled so far. I will review this with Matt Reiss and lets do further testing.

[2019-12-16 18:28] ASprinkle commented on #1064
When @Rebekah-Hernandez and I were testing in PROD we used the customer support email address as the "applicants" email address. You can see all of the scenarios we've tested in the Customer Support inbox under SUDS testing, which might help.

[2019-12-16 18:41] ASprinkle commented on #1064
@abdul-fs @mwreiss for researching the inboxes, we would want to be sure that the MBS Administrators at the Forest are indeed receiving updates for not only submitting or cancelled applications but also when someone has responded to an Admins HOLD requesting more information, which is captured in:
TCSencario3: Test Case Scenario 3 - NCGU application & Hold, admin request info, applicant uupdate, a

[2019-12-16 20:06] abdul-fs commented on #762
Sent out again an email to eauth team to address the setting level asap.

[2019-12-16 21:41] abdul-fs commented on #762
Meeting has been setup on wednesday. we will apply these changes in dev then staging and prod.

[2019-12-17 14:39] ASprinkle commented on #1044
12/17: TCScenario 1 - "Apply" button (no login.gov language), routed to login.gov, upon logging in, routed to Christmas tree page. Cleared cache and tried again, SU main page showed login.gov language, routed to login.gov, routed to application page correctly.

[2019-12-17 15:21] ASprinkle opened #1112 "Add Eric Turbeville to staging site access as FS admin"
## Notes
Eric is SUDS redesign Product Owner
He would like access to Open Forest special uses admin functions in staging so that he has an idea of how the system works.

## Acceptance Criteria
- [x] Eric can access Special Uses staging sites
https://open-forest-staging.app.cloud.gov/mbs
 https://open-forest-staging.app.cloud.gov/admin/applications
- [x] Eric can accept applications to suds

## Tas

[2019-12-17 15:23] ASprinkle commented on #1112
![image](https://user-images.githubusercontent.com/33435621/71008822-1bb52780-209e-11ea-9f43-533ad9eb2e99.png)

[2019-12-17 15:39] abdul-fs commented on #1112
I have confirmed with him yesterday. He is able to get on staging without any issues.

[2019-12-17 16:30] ASprinkle opened #1113 "As a user I do not want to be routed to the Christmas tree page when clicking apply"
## Notes
While testing in PROD:
Accessed the Open Forest special uses main page and the "Apply" button displayed with out the login.gov information on it. This is an expected occurrence when the user is already logged in.
![image](https://user-images.githubusercontent.com/33435621/71014935-9b93bf80-20a7-11ea-8ef4-5f83b6627e19.png)

Clicked on Apply, and it routed to login.gov, upon logging in, it

[2019-12-17 16:38] ASprinkle commented on #1113
![image](https://user-images.githubusercontent.com/33435621/71015457-7c496200-20a8-11ea-95a5-cfd1cee63524.png)
![image](https://user-images.githubusercontent.com/33435621/71015466-7f445280-20a8-11ea-8ccb-d3596a81b90a.png)
![image](https://user-images.githubusercontent.com/33435621/71015477-82d7d980-20a8-11ea-8aeb-99bfa7e20a3e.png)
![image](https://user-images.githubusercontent.com/33435621/7101548

[2019-12-17 19:07] ASprinkle commented on #1044
Email:  Short term, Abdul will add the MBS POC to whitelist for email today, not adding them to the actual shared mailbox.

[2019-12-17 19:56] ASprinkle opened #1114 "As a Christmas tree Admin for the Gifford Pinchot or Mt. Hood, I want to have the right people listed as admins so that we can do admin things"
## Notes
Robin Rose is retiring, last day Jan 3
Joe Gates is retiring, last day 12/20
Laura Pramuk Retired end of Dec

## Acceptance Criteria
- [x] Robin Rose no longer has admin access
- [x] Joe Gates no longer had admin access
- [x] Laura Pramuk no longer had admin access
- [x] We have added new administrators to the system

## Tasks
- [x] Remove Robin Rose robin.rose@usda.gov
- [x] Remove Joe G

[2019-12-17 20:21] ASprinkle opened #1115 "[Dec 20] Prepare Open Forest for potential government shutdown, Midnight (EST) Dec. 20."
## Notes
Potential exists for a government shut down Dec. 7 when funding is due to run out. As part of the shutdown process, we should prepare the site.
See also 2018 shutdown stories #476 (shutdown) and #480 (reinstate)

## Acceptance Criteria
- [ ] Forest visitors are not able to purchase a Christmas tree permit during the shutdown.
- [ ] Forest visitors are not able to "Apply" for a special use

[2019-12-17 20:25] ASprinkle opened #1116 "Post-Government shutdown, reinstate the Open Forest site"
## Notes
If the government shuts down at midnight on Dec 20, the Open Forest site will not be available for the public.
See also stories from the 2018 shutdown #480 and #476
When the potential government shut down ends, we would need to reinstate the Open Forest site so that:
    - people are able to purchase Christmas tree tags if it is still Christmas tree season, or so that
    - people are abl

[2019-12-17 22:53] ASprinkle opened #1118 "As an applicant I want an automatic email to be sent to the FS administrator when I update my application so that I know my updates will be seen."
## Notes
When an applicant "saves" their application after updating it in response to an Admin's HOLD request, the Admin should receive an email notifying them that the application has been updated.
Currently, when the applicant saves the update to their application, the applicant receives an automated confirmation email that states "We are reviewing the additional information you provided", howev

[2019-12-17 22:57] ASprinkle commented on #1118
[New Application Submitted Email to Administrator.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/3975808/New.Application.Submitted.Email.to.Administrator.pdf)
[On Hold Status Email to Applicant.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/3975809/On.Hold.Status.Email.to.Applicant.pdf)
[Submitted for Review Email Notification to Applicant.pdf](htt

[2019-12-17 23:00] ASprinkle opened #1119 "(MVP) As an MBS permit administrator I want to receive automatic emails when actions are taken in Open Forest for applications so that I know I need to do something.."
## Notes

We need to verify that MBS admins are receiving emails prior to launch.

## Acceptance Criteria
- [x] We have confirmed that MBS permit administrators receive automatic emails in all instances when emails are issued to FS admins.

## Tasks
- [x] Add sue.shermanbiery@usda.gov so that she receives automatic emails in all instances when emails are issued to FS admins.
- [x] Add orlando.garc

[2019-12-18 00:06] briandavidson commented on #1113
🤔 It's odd that you were redirected to login.gov when the button read `Apply`, since it supposedly only displays that when you are already logged in.

[2019-12-18 00:07] ASprinkle commented on #1113
@briandavidson  yes - that is the expectation.  However in this scenario it had been some time between when the actual/original login happened, and when we revisited the page to test the site.

[2019-12-18 00:09] ASprinkle commented on #1113
@briandavidson the redirect to Christmas tree is an uncommon occurrence. it is infrequent and has been difficult to replicate.  It does not happen in every instance of selecting Apply after logging in. We think its some kind of cache issue, but we should not assume.

[2019-12-18 04:32] mtlaney commented on #1113
@ASprinkle @briandavidson here's what I can figure out on my end. It appears the login.gov and eauth are getting their wires crossed. So if you've logged into the application recently (and are currently logged into eAuth)

For instance see attached screen shot. The application recognizes me as an authorized admin user. However when I click Apply i'm re-directed to the login.gov page (since i'm not

[2019-12-18 14:32] ASprinkle commented on #1119
Comment from Abdul in Teams: [Yesterday 7:51 PM] Qureshi, Abdul - FS

they are added into production smtp list.                                                                                                                                                            "name": "smtp-service",    "credentials": {
      "admins": [
        "SM.FS.OpenFrstAdm@usda.gov",
        "adsprinkle@fs.fed.us",

[2019-12-18 14:32] ASprinkle commented on #1119
Testing email instances with Test Case Scenario 11 NCGU Application that I will also Cancel as an applicant. I'll use the customer support email inbox as the applicant's email address...

[2019-12-18 14:41] ASprinkle commented on #1119
@abdul-fs Success!! I was able to also verify with Sue Shermanbiery this morning over chat that she received automatic emails from my tests in PROD.
Here are screen shots
![image](https://user-images.githubusercontent.com/33435621/71095329-42886200-2161-11ea-8cad-f06e828cae5f.png)
![image](https://user-images.githubusercontent.com/33435621/71095341-49af7000-2161-11ea-9b8b-f26d6561baf5.png)
![image

[2019-12-18 14:56] ASprinkle commented on #1113
@mtlaney good update. Here's more info that I think supports the cross hairs you described between eAuth and Login.gov:

In this screen shot, when I selected my shortcut to visit MBS staging (not my MBS Admin staging) I was presented with this page, that shows I am logged in as an FS admin with the "Apply" buttons
![image](https://user-images.githubusercontent.com/33435621/71096101-9778a800-2162-1

[2019-12-18 17:03] lisamcmichael commented on #1103
@ASprinkle and @Rebekah-Hernandez

**I started the topline summary. See you soon.
https://usfs.app.box.com/notes/576450697151**

[2019-12-18 18:52] ASprinkle commented on #259
![image](https://user-images.githubusercontent.com/33435621/71114269-41b4f780-2184-11ea-96e0-cebc1ebf2ae5.png)
![image](https://user-images.githubusercontent.com/33435621/71114394-893b8380-2184-11ea-97e0-f70f036d984c.png)

[2019-12-18 19:15] ASprinkle commented on #1112
@abdul-fs  Moving back into In Progress - RE #259 notes when Eric tried to accept and application to SUDS he was presented with an error and has not been able to accept and application to SUDS in Staging.

[2019-12-18 19:23] ASprinkle commented on #1112
@abdul-fs are there additional tasks that you think would be helpful? I edited them a bit from our discussion at stand up.

[2019-12-18 19:31] abdul-fs commented on #1112
It looks like multiple application has been submitted with same contact. Lets replicate the same. we need to find out same contact can handle submitting two application at once.

@mwreiss do we have suds team we can follow up?

[2019-12-18 19:35] ASprinkle commented on #1112
Is the error a result of:
a SUDS issue,
a result of an Open Forest issue,
or a roles/privileges issue?

We completed research recently around SUDS contact information #679  - and we understood that there wasn't anything set up to keep people with the same names or addresses submitting an application

[2019-12-18 19:47] ASprinkle opened #1122 "As an Open Forest customer, I want to be scheduled to provide input on an initial landing page wireframe design."
## Notes
See Epic #604
dependent on #1052

## Acceptance Criteria
- [x] We know when testing will occur.
- [x] We know what we'll be testing

## Tasks
- [x] Draft a research plan for testing the main landing page wireframe with users.
- [x] Approve research plan.
- [x] Identify testing pool.
- [x] Update wireframe, and review with team
- [x] Research allowable video/screen share platform for testi

[2019-12-18 20:05] ASprinkle opened #1123 "As an Open Forest customer, I want to see a main landing page up on staging so that I can continue testing it."
## Notes
This story is about building the completed main landing page design.
This is connected to story #604
and is dependent on #1054

## Acceptance Criteria
- [ ] An open forest landing page is up in our staging environment, and ready for further refinement (testing)

## Tasks
- [ ] Build the designed main landing page onto the Staging Site
- [ ] PO approved

## Definition of Done
- [ ] Pull re

[2019-12-18 20:18] ASprinkle commented on #1111
#604 #1123

[2019-12-18 20:23] abdul-fs commented on #1112
@briandavidson @mtlaney @mwreiss is this a bug? can open forest mbs submits more application with same contact.

@mwreiss we need to check with suds team for roles/privileges.

[2019-12-18 20:53] ASprinkle opened #1125 "As an special uses platform user, I want to know who to contact when I receive an error so that I can get help when I need it."
## Notes
It looks like error banners still have the old fs-permitting-project@gsa.gov email contact
We need to update all instances of that email address to be our shared email for customer support SM.FS.OpnFrstCsSup@usda.gov

![image](https://user-images.githubusercontent.com/33435621/71122408-5cdc3300-2195-11ea-9e9c-88223a708e62.png)

![image](https://user-images.githubusercontent.com/33435621/7

[2019-12-18 21:07] briandavidson commented on #1112
@abdul-fs it looks like it's an issue with this user's roles and does not appear to be a bug.

[2019-12-18 21:11] abdul-fs commented on #1112
Thanks brian. yes its issue with user's role. Thanks Amber. we submitted Eric 2nd application having same details without any error.

[2019-12-18 22:33] ASprinkle commented on #1064
Have we confirmed with Mike, or Shawnee, or Anne that they are not receiving emails when actions on applications occur?

[2019-12-18 22:40] ASprinkle commented on #986
@briandavidson The menu looks great!
![image](https://user-images.githubusercontent.com/33435621/71129408-396cb480-21a4-11ea-803f-3ffbf85488b4.png)

There appears to be an odd occurance with the check mark when required fields are satisfied. It is not keeping anyone from submitting an application - so we can address the "check mark" display in another story.  This is considered PO approved and rea

[2019-12-18 22:59] mwreiss commented on #1112
@abdul-fs  Looks like you  and @ASprinkle  got this one figured out.  Thank you!

[2019-12-18 23:35] briandavidson commented on #986
Hi @ASprinkle - I attached a gif of what I'm experiencing on staging currently.
![green_checkmark](https://user-images.githubusercontent.com/5187168/71131861-edca0300-21c3-11ea-868d-70c4a7321fa9.gif)

I'm not sure why we're seeing different things here. If we can pair up when you have some time I'm sure we can quickly hash out what's going on.

[2019-12-19 16:15] abdul-fs commented on #1064
They are not part of smtp so they wont be getting any emails. I will also confirmed with them.

[2019-12-19 18:15] abdul-fs commented on #1112
Eric has submitted an request for his roles same as amber. Waiting on suds team.

[2019-12-19 18:29] lisamcmichael commented on #1103
Hello @ASprinkle
**The Topline Summary in Word: https://usfs.box.com/s/v803afbtq50ehqopbmtgitqu9ev9aoa8**

Cheers/happy holiday and Merry Christmas
Will keep in touch

[2019-12-19 18:54] abdul-fs commented on #1064
Confirmed with anne. She is not receiving any emails from Forest Service online permits <do_not_reply_openforest@usda.gov>

[2019-12-19 18:58] briandavidson commented on #1080
Hi @ASprinkle - this one's ready to go to awaiting acceptance but just wanted to check really quick.. do we maybe want to do something like this here since the email address is a little funky?

![image](https://user-images.githubusercontent.com/5187168/71201179-7b126380-2267-11ea-915f-eac26373bf40.png)

[2019-12-20 16:58] lisaredux commented on #604
Possible user scenarios are getting captured here: https://usfs.app.box.com/notes/573288780620

Balsamiq wireframes in progress here:
https://balsamiq.cloud/sjnh4c9/pdjueup/r2278

[2019-12-23 19:53] smahmudFS opened #1127 "test1"

[2019-12-26 19:12] abdul-fs commented on #762
After discussion, there is dev work to be done from application side. The max we have for eauth time out is 9 hrs.

[2019-12-26 21:13] lisaredux commented on #1052
@Rebekah-Hernandez here's the PDF in progress
[OpenForestLanding-604.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/4003472/OpenForestLanding-604.pdf)

[2019-12-26 21:16] mwreiss commented on #762
Additional info.....

After the meeting Dec 19th it was determined:

1) eAuth hands off sessions to an application once authenticated, future state of eAuth might include ways to kill user sessions but at this point its to large of a project to tackle.

2) A session timeout value will need to be set in the open forest website to kill idle sessions max 9 hrs.  Mike mentioned creating a session expi

[2019-12-30 14:29] ASprinkle commented on #348
@briandavidson

The chart and estimate section in step 3 looks great!
![image](https://user-images.githubusercontent.com/33435621/71585961-44411680-2acd-11ea-8765-9a83034467a7.png)

It looks like I am still seeing the link for Forest service handbook  FSH 2709.11, sec. 37.21c) in staging. Can you also remove the entire line of text and link "(See FSH 2709.11, sec 37.12c)" as part of the tasks abov

[2019-12-30 14:33] ASprinkle commented on #1105
This looks great! @briandavidson
![image](https://user-images.githubusercontent.com/33435621/71586206-45bf0e80-2ace-11ea-8b25-bdcf5dffd172.png)

[2019-12-30 14:34] ASprinkle commented on #1064
Thanks @abdul-fs I'll move this over to "done" :)

[2019-12-30 14:38] ASprinkle commented on #986
@briandavidson it looks like it is working for me now! :) not sure why the issues earlier! thanks!
![image](https://user-images.githubusercontent.com/33435621/71586421-080eb580-2acf-11ea-8f2e-e55d2d1c6caa.png)

[2019-12-30 14:46] ASprinkle commented on #1080
@briandavidson let's keep it as is for now with the full email address.  We may make an improvement like that later. We discussed making a "here" link in the footer, but decided against it, i think because of browser popup limitations (?)...  The banner is looking really good in staging:
![image](https://user-images.githubusercontent.com/33435621/71586737-0ee9f800-2ad0-11ea-901d-e987f841958d.png)

[2019-12-30 14:58] ASprinkle commented on #1103
For awareness, I am deleting the "Notes" documents, and combining the final Topline summary and the discussion guide docs to minimize "like" documents in the list.

[2019-12-30 15:57] #1051 closed

[2019-12-30 15:58] #1119 closed

[2019-12-30 15:58] #1084 closed

[2019-12-30 15:58] #1076 closed

[2019-12-30 15:58] #532 closed

[2019-12-30 15:58] #1106 closed

[2019-12-30 15:59] #1108 closed

[2019-12-30 15:59] #1081 closed

[2019-12-30 15:59] #1044 closed

[2019-12-30 16:00] #1103 closed

[2019-12-30 16:00] #1064 closed

[2019-12-30 16:53] ASprinkle commented on #1127
@smahmudFS  did your test work as expected? Mind if we "close" this issue?

[2019-12-30 17:00] ASprinkle commented on #762
So in terms of next steps. do we need to:

Create a new story that addresses:
2. A  session timeout value will need to be set in the open forest website to kill idle sessions max 9 hrs. Mike mentioned creating a session expiration job. (some further dev work needed).

Add a task to this story that addresses:
3. A redirect will be put into place to revert a user back to the Open Forest home page. U

[2019-12-30 17:36] ASprinkle commented on #1099
@Dmac26 @Rebekah-Hernandez  I created this story in the midst of working through the refund process.  When reviewing this, it seems we no longer need to have the pay.gov tracking ID populated within Open Forest given the steps that ASC group lined out for the refund process, correct?

[2019-12-30 17:39] mwreiss commented on #762
On the ^^
2. yes
3. yes
4. I would agree with what you said, redirect/routed back to the page they originally logged in from.

[2019-12-30 19:12] Rebekah-Hernandez commented on #1099
Yes, that should be correct. We don't pull the pay.gov tracking ID, ASC is able to pull that out. We only need the information that Dylan included

[2019-12-30 20:45] briandavidson commented on #1080
looks like an extra `.` snuck in there. i just addressed it and will create a PR in just a few.

[2019-12-31 16:06] lisaredux commented on #1052
[OpenForestLanding-1052-clickable.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/4013034/OpenForestLanding-1052-clickable.pdf)
@Rebekah-Hernandez This is the current one to be discussed in a meeting now.

Meeting with Amber and Rebekah later today to comb through some more

[2019-12-31 19:16] #1127 closed

[2019-12-31 19:38] lisaredux commented on #994
@ASprinkle @briandavidson This one looks resolved to me

[2019-12-31 19:46] ASprinkle commented on #994
@lisaredux Can you include a screen shot of what you see when you log in? This way we can compare it with the previous one above.  Thanks!

[2019-12-31 20:28] lisaredux commented on #1052
@ASprinkle @Rebekah-Hernandez here's the updated prototype that we'll look at in the
 meeting [OpenForestLanding-1052-updated-12-31-2019.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/4013431/OpenForestLanding-1052-updated-12-31-2019.pdf)

[2019-12-31 21:46] ASprinkle commented on #1080
Looks good!
![image](https://user-images.githubusercontent.com/33435621/71634790-eba87100-2bd3-11ea-88a5-d7beb8b3db12.png)

[2019-12-31 21:52] ASprinkle commented on #348
@briandavidson can you remove the last sentence, shown here as the red line strike through?
![image](https://user-images.githubusercontent.com/33435621/71634926-c5cf9c00-2bd4-11ea-8806-20c2de499e69.png)

[2020-01-02 17:04] mwreiss commented on #1052
Hi @lisaredux  and @Rebekah-Hernandez  are you ready to do a demo/review with the team before this moves to dev?

[2020-01-02 17:08] ASprinkle commented on #1052
@mwreiss we've planned a meeting with Aaron and Eric tomorrow to identify any other sideboards before finalizing the wireframe for wireframe testing. Before we test the wireframe we want to meet with Dev to make sure we're not setting up an unattainable expectation with it. There is still quite a bit of work to do before it gets moved to Dev for staging which would be story #1123  The sequence of

[2020-01-02 17:27] mwreiss commented on #1052
@ASprinkle  Thanks Amber, that sounds great.  I wanted to be sure @smahmudFS , @JonathanLerner54  and I were able to do a review before moving to dev. to cover architecture, security and general infrastructure changes (ie. database, etc..).  I know this is a large add on and want to be sure all basis are covered on this end.  Thank you!

[2020-01-02 17:33] ASprinkle commented on #1052
Ahh ok! I will forward the invite for tomorrow on to you all :)

[2020-01-02 19:05] ASprinkle commented on #926
@carlsonem can you create a folder called "User Management" nested under Open Forest directly? that would house all of this research? That way we all have appropriate access/permissions.

[2020-01-02 21:05] ASprinkle commented on #604
This card is currently in Blocked until all stories under this Epic are completed.

[2020-01-03 16:32] ASprinkle commented on #926
Here is the pinyon folder for us to house all EEMS/ICAM User Management related documentation https://usfs.box.com/s/axc60zuazso8ec1xadrm7sbd5he092s9 @carlsonem @smahmudFS

[2020-01-03 17:30] lisaredux commented on #1052
Hi everyone, this is the clickable protoptype we will discuss — [OpenForestLanding-1052-01032020.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/4020123/OpenForestLanding-1052-01032020.pdf)

I'm making a few updates, so if you see anything that needs updating or if you have questions, be sure to let me know during the meeting today. Thanks

[2020-01-03 17:31] mtlaney commented on #1113
@ASprinkle the new changes should end a users session after 20 minutes of inactivity or after logging out. I don't believe we have a way to test this in staging however since it's tied to the eAuth session.

[2020-01-03 17:33] mtlaney commented on #762
Current timeout is set for 20 minutes of inactivity for our eAuth session. Clicking logout will now destroy the user session and they will need to log back in. Pushed to staging to test.

[2020-01-03 17:36] ASprinkle commented on #1113
ok. thanks Mike!

[2020-01-03 17:41] lisaredux commented on #1052
Updated PDF with breadcrumbs [OpenForestLanding-1052-01032020-UPDATED.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/4020186/OpenForestLanding-1052-01032020-UPDATED.pdf)

[2020-01-03 18:32] ASprinkle opened #1130 "SPIKE High-level sketch of user profile landing page and admin interactions"
## Notes
* What are things we should consider when making this story *

high level sketch to have some idea about what it would look like for a user to set up an Open Forest profile in order to do business in Open Forest.

We just want to know generally... what would we need to look out for. Let's get some ideas around that for future consideration.

security controls

This converstaion came up du

[2020-01-03 19:30] ASprinkle commented on #689
@lisaredux @briandavidson please save any admin management documentation to the User Management pinyon folder: https://usfs.box.com/s/axc60zuazso8ec1xadrm7sbd5he092s9

[2020-01-03 21:57] lisaredux commented on #689
@ASprinkle here's the latest clickable prototype (as a web page) https://xd.adobe.com/view/7fb194e3-f45f-4517-77e2-f8ded72ef8cf-0980/?fullscreen

I tried inserting into Pinyon but it doesn't take links well. I'll try another method on Monday.

[2020-01-03 22:56] ASprinkle commented on #689
@lisaredux I was able to save your github email message with the link ^ as a PDF in pinyon, and we can access it that way :)

[2020-01-03 23:43] ASprinkle commented on #762
@mtlaney I tested this in staging on my computer and I didn't see any changes after 20 minutes. I think you said this would be difficult to test in staging environment. I am ok to move this to Ready given the difficulty in testing in Staging, so long as you agree, and I haven't missed anything.

[2020-01-06 01:00] abdul-fs commented on #1114
Remove Robin Rose robin.rose@usda.gov
 Remove Joe Gates joseph.gates2@usda.gov
 Remove Laura Pramuk laura.pramuk@usda.gov

has been removed from production and staging.

[2020-01-06 15:34] ASprinkle opened #1131 "As a Christmas tree permit customer, I want to get a permit on the last day of the season so that I can get a permit at my convenience."
## Notes

On 12/31 the Christmas tree site showed the Oka-Wen, Umatilla, Gifford Pinchot, and Flathead as closed for the season, no ability to "buy permit" on the last day of the season..  These forest's end of season date is 12/31.  The same instance occurred for the Arapaho and Roosevelt, and the Willamette on January 6, their end of season date.
![image.png](https://images.zenhubusercontent.com

[2020-01-06 15:35] ASprinkle commented on #1130
@lisaredux is this something that you are currently working on? If so, let's move it to in progress. thanks!

[2020-01-06 15:54] smahmudFS commented on #926
@briandavidson @mtlaney Let's figure out what are the attributes required to manage a user in Open Forest platform for authorization.  Please use the data catalog on box for reference to EEMS/ICAM attributes:  https://usfs.app.box.com/file/591416099738
fyi....@mwreiss @JonathanLerner54

[2020-01-06 16:00] abdul-fs commented on #1112
Team: Eric role is still pending. Is there any way we can expedite his NRM request. @mwreiss

[2020-01-06 16:12] ASprinkle commented on #1114
@abdul-fs  I have a request out to the Gifford Pinchot, Dave Olson (who is the Natural Resources Staff Officer for the forest) to find out who our new POC should be for the Gifford Pinchot.

Heather Ibsen will be the new PAO point of contact for the Open Forest team, but we do not need to add her as an admin to the system, given the other Mt. Hood admins we already have.

[2020-01-06 16:30] mwreiss commented on #1112
@abdul-fs Pam Young would be the contact to expedite for staging/dev.  I noticed she was out over the past 2 weeks and just returned today, I'm guessing shes catching up on the backlog.  What role is he being added to, Forest Manager, ePermits role or something else?  I can send a follow up to Pam if needed.

[2020-01-06 16:40] ASprinkle commented on #1112
@mwreiss thanks.  Eric just needs access to our special uses staging environment to test interactions with accepting applications to SUDS. So he would need to be able to see admin stuff in our Open Forest staging environment, as well as see applications sent to SUDS for (0605 MBS) in NRM test/dev.  He's a Product Owner for the SUDS redesign team, and so is testing functions.

[2020-01-06 16:44] mwreiss commented on #1112
@ASprinkle Ok great!  Do you have an email or an initial request that was made to get access that I could reference with Pam?

[2020-01-06 16:50] ASprinkle commented on #1112
@mwreiss possibly...I'll see what I can find.

[2020-01-06 17:08] abdul-fs commented on #1112
@mwreiss I got this from Eric.  artf105106. if this helps.

[2020-01-06 17:20] mwreiss commented on #1112
@ASprinkle @abdul-fs  I still have access to the NRM teamforge site and noticed this ticket was completed 12/27.  In theory Eric should be good to go.  If he still has trouble we can ask Pam to look further.

![image](https://user-images.githubusercontent.com/50459930/71835129-72e36200-3076-11ea-96d0-61b6c01a153e.png)

[2020-01-06 18:28] ASprinkle commented on #1115
No shutdown Dec 2019.

[2020-01-06 18:28] #1115 closed

[2020-01-06 18:29] ASprinkle commented on #1116
No shutdown Dec 2019.

[2020-01-06 18:29] #1116 closed

[2020-01-06 18:46] ASprinkle commented on #1099
Closing. No work needed on behalf of Dev, no improvements to the site identified in order to issue refunds.

[2020-01-06 18:46] #1099 closed

[2020-01-06 18:49] ASprinkle commented on #579
@mwreiss is this story necessary given the work being done currently around admin user management ICAM/EEMS integrations?

[2020-01-06 19:21] mwreiss commented on #579
@ASprinkle  I think this one can be closed out.  Thanks Amber!

[2020-01-06 19:41] #579 closed

[2020-01-06 22:20] briandavidson commented on #411
@ASprinkle do we know if this is for sure still an issue? And if so do, we have steps to reproduce it? After running some tests I was unable to make it occur.

[2020-01-06 23:24] ASprinkle opened #1133 "As an admin for Christmas trees, I'd like to edit Robert Barnhart Admin roles so that the appropriate roles are provided."
## Notes
* What are things we should consider when making this story *

Robert is in a different position at the Region 6 Regional Office.
We initially thought he should be removed from admin access, however he may need it - we'll have to confirm with him.

robert.barnhart@usda.gov

## Acceptance Criteria
- [x] The appropriate roles are granted.
- [x] We've confirmed with Rob what kind of access h

[2020-01-06 23:35] lisaredux commented on #1130
@ASprinkle @Rebekah-Hernandez here's a rough draft of the workflow. I welcome your feedback and insights.
![Story1130-Workflow4profile-01062020](https://user-images.githubusercontent.com/26801590/71856798-28340b00-30b3-11ea-8666-25248d673bf0.png)

[2020-01-06 23:59] lisaredux commented on #1052
@ASprinkle @Rebekah-Hernandez This is updated since our meeting. I'm still combing for bad links. If you see something wrong, let me know and I'll update it.

[OpenForestLanding-1052-01062020-UPDATED.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/4028289/OpenForestLanding-1052-01062020-UPDATED.pdf)

[2020-01-07 16:50] ASprinkle commented on #1130
Looks like 3 different ways to login.  It's good that you included the opportunity for people to be able to choose to consume information prior to deciding to log in.  I think this is a good start for having an idea of what that a flow w/user log in might look like.

[2020-01-07 16:52] lisaredux commented on #1052
@ASprinkle @Rebekah-Hernandez Here's the latest prototype: some minor updates especially with breadcrumbs, links and profile workflow (1130):
[OpenForestLanding-1052-01072020.pdf](https://github.com/USDAForestService/fs-open-forest-platform/files/4031574/OpenForestLanding-1052-01072020.pdf)

[2020-01-07 16:55] lisaredux commented on #1130
Thanks @ASprinkle. I've updated it since yesterday. It's also included in the PDF for 1052 to discuss with DEV. Here is the latest...

![Story1130-Workflow-profile-01072020](https://user-images.githubusercontent.com/26801590/71912997-83faa480-3144-11ea-8a82-c96ba629df38.png)

[2020-01-07 19:08] ASprinkle commented on #1130
Need to present to Jon, Matt, Shadat before done

[2020-01-07 19:15] mtlaney opened #1135 "cookie-session to express-session"
## Notes
Currently we are using cookie-session npm plugin. Need to investigate implementing express-session in order to properly use passport.js user sessions to trigger session timeouts and user full logouts.

## Acceptance Criteria
- [x] express-session implemented
- [x] user is timed out while away
- [x] user can fully logout of the system

## Tasks
- [x] implement express-session
- [x] impleme

[2020-01-07 20:06] mwreiss commented on #1130
@ASprinkle  Thank you Amber, excited to see the next iteration from the design team

[2020-01-07 20:43] ASprinkle opened #1136 "Cap on number of permits issued for a forest"
## Notes
* What are things we should consider when making this story *

## Acceptance Criteria
- [ ]

## Tasks
- [ ]
- [ ] PO approved

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested

[2020-01-07 20:49] ASprinkle opened #1137 "SPIKE define christmas tree map parameters"
## Notes
* What are things we should consider when making this story *
ID sideboards for maps/documents to be uploaded to the system
Size
Format
other

Willamette maps not loading well.

## Acceptance Criteria
- [ ]

## Tasks
- [ ]
- [ ] PO approved

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested

[2020-01-07 21:01] ASprinkle commented on #1130
@mwreiss @lisaredux sent invite for 1/8 1:30PST for the meeting to present this high-level flow for user profile.

[2020-01-07 21:54] ASprinkle commented on #887
https://usfs.box.com/s/88ci1a86f4z63tdgb1vmiz045grd71m5

[2020-01-07 22:02] ASprinkle commented on #887
Invites sent for Front End Dev Retro: 1/9 0930-1030 PST
Invites sent for Back End Dev Retro: 1/9 1030-1100 PST